@model Nucleus.Web.ViewModels.Admin.ScheduledTaskIndex
<h1 class="nucleus-control-panel-heading">Scheduled Tasks</h1>
<div class="nucleus-form-tools">
	<a href="@Url.Content("~/Admin/ScheduledTasks/Editor")" class="btn btn-secondary" data-target=".ScheduledTaskEditor" accesskey="N">New Scheduled Task</a>
</div>
<div class="nucleus-index-wrapper">
	<div class="nucleus-index-items">
		@await Html.PartialAsync("_ScheduledTasksList", Model)
	</div>

	<div class="ScheduledTaskEditor nucleus-editor-panel"></div>
</div>