@model Nucleus.Web.ViewModels.Default
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@{
	Layout = "_Layout";
}

@section styles
{
	<link href="@Url.Content($"~/{Folders.LAYOUTS_FOLDER.Replace("\\","/")}/default-2-column.css")" rel="stylesheet" />
}

<div class="LayoutWrapper">
	<div class="BannerPane">
		<Logo />
		<account class="AccountControl"></account>
		<menu maxLevels="10"></menu>
		@Html.Breadcrumb()
		@await Html.RenderPaneAsync("BannerPane")
	</div>

	<div class="ContentWrapper">
		<div class="LeftPane">
			@await Html.RenderPaneAsync("LeftPane")
		</div>

		<div class="ContentPane">
			@await Html.RenderPaneAsync("ContentPane")
		</div>
	</div>

	<div class="BottomPane">
		<terms caption="Terms" />
		<privacy caption="Privacy Policy" />
		@await Html.RenderPaneAsync("BottomPane")
	</div>
</div>