@model Nucleus.Abstractions.Layout.ContainerContext
@Html.AddStyle("~/Shared/Containers/default.css")
@Html.AddStyle("~!/no-title.css")
<div class="container-default container-no-title" container-styles="true" suppress-empty="true">
	@Model.Content
</div>
