@model Nucleus.Web.ViewModels.Admin.UserIndex
@await Component.InvokeAsync(typeof(Nucleus.ViewFeatures.Controls.PagingControl), new { model = @Model.Users, propertyName = "Users", renderMode = Nucleus.ViewFeatures.ViewModels.PagingControl.RenderModes.Compact })
<ul>
	@foreach (var item in Model.Users.Items)
	{
		<li><a href="@Url.Content("~/Admin/Users/Editor")?id=@item.Id" data-target=".UserEditor">@(String.IsNullOrEmpty(item.UserName) ? "Blank User Name" : item.UserName)</a></li>
	}
</ul>