@model Nucleus.Web.ViewModels.Admin.UserIndex
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
<h1 class="nucleus-control-panel-heading">Users</h1>

@using (Html.BeginAreaForm("Search", "Users", "Admin", FormMethod.Post, new { @data_target = "#User_Search_Results", @autocomplete = "off" }))
{
	<div class="nucleus-form-tools">
		@Html.TextBoxFor(model => model.SearchTerm, new { @class = "h-100", @data_autopostbackevent = "keyup", @placeholder = "search", @type = "search" })
		<input type="submit" value="&#xe8b6;" class="nucleus-material-icon btn btn-outline-secondary" />
		<a href="@Url.Content("~/Admin/Users/AddUser")" class="btn btn-secondary" data-target=".UserEditor" accesskey="N">New User</a>
		<a href="@Url.Content("~/Admin/Users/Export")" class="btn btn-secondary" accesskey="X">Export</a>
	</div>
		<div id="User_Search_Results" class="nucleus-search-results-wrapper">
			@await Html.PartialAsync("SearchResults.cshtml")
		</div>
}


<div class="nucleus-index-wrapper">
	<div class="nucleus-index-items">
		@await Html.PartialAsync("_UserList", Model)
	</div>

	<div class="UserEditor nucleus-editor-panel"></div>
</div>