@model Nucleus.Web.ViewModels.Admin.UserIndex
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
<h1 class="nucleus-control-panel-heading">Users</h1>
<div class="nucleus-form-tools">
	@using (Html.BeginAreaForm("Search", "Users", "Admin", FormMethod.Post, new { @data_target = "#User_Search_Results", @autocomplete = "off" }))
	{
		@Html.TextBoxFor(model => model.SearchTerm, new { @data_autopostbackevent = "keyup", @placeholder = "search", @type = "search" })
		<input type="submit" value="&#xe8b6;" class="nucleus-material-icon btn btn-outline-secondary" />
		<div id="User_Search_Results" class="nucleus-search-results-wrapper">
			@await Html.PartialAsync("SearchResults.cshtml") 
		</div>
	}


	<a href="@Url.Content("~/Admin/Users/AddUser")" class="btn btn-secondary" data-target=".UserEditor">New User</a>
</div>

<div class="nucleus-index-wrapper">
	<div class="nucleus-index-items">
		<ul>
			@foreach (var item in Model.Users)
			{
				<li><a href="@Url.Content("~/Admin/Users/Editor")?id=@item.Id" data-target=".UserEditor">@item.UserName</a></li>
			}
		</ul>
	</div>

	<div class="UserEditor nucleus-editor-panel"></div>
</div>