.ForumsSettings
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ForumsSettings .nucleus-index-items ul
{
	height: 100%;
	overflow-y: auto;
}

.ForumsSettings #group-permissions th, .ForumsSettings #forum-permissions th
{
	text-align: center;
  font-size: 0.75rem;
}

.ForumsSettings #group-permissions td:not(:first-child), .ForumsSettings #forum-permissions td:not(:first-child)
{
  text-align: center;
}
