.forums .forums-list, .forums .forum-posts
{
  border: 1px solid var(--nucleus-default-border-color);
  /*width: 100%;
  margin-bottom: var(--nucleus-default-gap-vertical);*/
}

.forums table th, .forums table td
{
  padding: 4px 12px;
	/*text-align: left;*/
  vertical-align: middle;
}

.forums thead:not(:first-child) .group-header
{
  border-top: 1px solid #ccc;
}

.forums thead:not(:first-child) .group-header th
{
  padding-top: var(--nucleus-default-gap-vertical);
}

.forums .forums-list .forum-title
{
  display: flex;
  width: auto;
}

.forums .forums-list .forum-title > div
{
  display: inline-block;
}

.forums .forums-list .forum-subject
{
  text-overflow: ellipsis;
  max-width: 16em;
  overflow: hidden;
}

.forums .compact-cell
{
  width: 1%;
  white-space: nowrap;
}

.forums .forums-list th, .forums .forum-posts th
{
  white-space: nowrap;
}

.forums table th .btn-link
{
  padding: 0;
  margin: 0;
}

.forums .post
{ 
  border: solid 1px var(--nucleus-default-border-color);
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.forums .post-status
{
  font-size: 0.8em;
  color: #333;
  text-transform: capitalize;
  border: dashed 1px var(--nucleus-default-border-color);
  padding: 1px 2px;
}

.forums .post .post-flags, .forums .reply .reply-flags 
{
  display: flex;
  gap: 4px;  
  flex-direction: row;
  margin-bottom: 4px;
  margin-left: auto;
}

.forums .post .post-flags span, .forums .reply .reply-flags span
{
  font-size: var(--font-size-smallest);
  text-transform: capitalize;
  border: dashed 1px var(--nucleus-default-border-color);
  padding: 1px 1rem;
  margin: 0.25rem 0 auto auto;
}

.forums .post .attachments, .forums .reply .attachments
{
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--nucleus-default-gap-vertical);
  column-gap: var(--nucleus-default-gap-horizontal);  
  font-size: var(--font-size-smallest);
}

.forums .post .attachments a, .forums .reply .attachments a
{
  border: solid 2px;
  padding: 0.5rem 0.5rem 0.5rem 0.35rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.forums .attachments a:hover, .forums .attachments a:focus
{
  background-color: var(--nucleus-default-hover-color);
}

.forums .post .attachments a .icon, .forums .reply .attachments a .icon
{
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.forums .post .attachments a input, .forums .reply .attachments a input
{
  margin-left: 0.5rem;
  padding: 0.35rem 0.2rem 0.35rem 0.25rem;
}

.forums .post .nucleus-form-tools
{
  margin-top: 0.25rem;
}

.forums .post .AdminTools
{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.25rem;
  justify-content: flex-end;
}

.forums h3
{
  font-size: 1.25rem;
}

.forums .post h4
{
  margin: 0;
}

.forums .post h5, .forums .replies h5
{
  font-size: 1.1rem;
  margin: 0.75rem 0;
}

.forums .reply
{
  border: dotted 2px #21A3DA;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

/* indenting for reply-to-reply levels */
.forums .reply
{
  border-left-style: solid;
  border-left-color: #21A3DA;
}

.forums .reply.reply-level-0  { border-left-width: 2px; border-style: dotted; } 
.forums .reply.reply-level-1  { border-left-width: calc(0.4rem * 01) } 
.forums .reply.reply-level-2  { border-left-width: calc(0.4rem * 02) } 
.forums .reply.reply-level-3  { border-left-width: calc(0.4rem * 03) } 
.forums .reply.reply-level-4  { border-left-width: calc(0.4rem * 04) } 
.forums .reply.reply-level-5  { border-left-width: calc(0.4rem * 05) } 
.forums .reply.reply-level-6  { border-left-width: calc(0.4rem * 06) } 
.forums .reply.reply-level-7  { border-left-width: calc(0.4rem * 07) } 
.forums .reply.reply-level-8  { border-left-width: calc(0.4rem * 08) } 
.forums .reply.reply-level-9  { border-left-width: calc(0.4rem * 09) } 
.forums .reply.reply-level-10 { border-left-width: calc(0.4rem * 10) } 
.forums .reply.reply-level-11 { border-left-width: calc(0.4rem * 11) } 
.forums .reply.reply-level-12 { border-left-width: calc(0.4rem * 12) } 
.forums .reply.reply-level-13 { border-left-width: calc(0.4rem * 13) }  
.forums .reply.reply-level-14 { border-left-width: calc(0.4rem * 14) } 

.forums .post .heading, .forums .reply .heading
{
  display: flex;
  flex-direction: row;
  gap: 4px;  
}

.forums .post .controls, .forums .reply .controls
{
  display: inline-flex;
  flex-direction: row;
  margin-left: auto;
  gap: 4px;
  align-items: flex-end;
}

.forums .body
{
  background-color: #eee;
  padding: 0.25rem;
  font-size: 0.9rem;
  overflow: auto;
}

.forums .body p:last-child
{
  margin-bottom: 0;
}

.forums .original-post.body
{
  max-height: 6rem;
  min-height: 2.5rem;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.forums .settings-control.stretch
{
  min-height: 30vh;
}

.forums-manage-subscriptions h3
{
  font-size: 1.2rem;
}

.forums-manage-subscriptions h4
{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.forums-manage-subscriptions .group.forums span:not(:last-child)::after
{
  content: ', ';
}

.forums-manage-subscriptions table .btn
{
  min-width: 6rem;
}

.forums-manage-subscriptions table .frequency-col
{
  width: 16rem;
}

.forums-manage-subscriptions table .btn-col
{
  width: 7rem;
}

.forums-manage-subscriptions .subscriptions-group-wrapper
{
  border: solid 1px #aaaaaa;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

/*  Responsive UI  */
@media screen and (max-width: 1134px),
       screen and (max-height: 600px)
{
  .forum-author
  {
    display: none!important;
  }
}

/*  Responsive UI  */
@media screen and (max-width: 760px),
       screen and (max-height: 600px)
{
  .forums .post .heading, .forums .reply .heading
  {
    flex-direction: column;
  }

  .forums .post .controls, .forums .reply .controls
  {
    margin-left: 0;
  }
}