.Forums .forums-list, .Forums .forum-posts
{
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 12px;
}

.Forums table th, .Forums table td
{
  padding: 4px 12px;
	text-align: left;
  vertical-align: middle;
}

.Forums thead:not(:first-child) .group-header
{
  border-top: 1px solid #ccc;
}

.Forums thead:not(:first-child) .group-header th
{
  padding-top: 1rem;
}

.Forums .forums-list .forum-title
{
  display: flex;
  width: auto;
}

.Forums .forums-list .forum-title > div
{
  display: inline-block;
}

.Forums .forums-list .forum-subject
{
  text-overflow: ellipsis;
  max-width: 16em;
  overflow: hidden;
}

.Forums .compact-cell
{
  width: 1%;
  white-space: nowrap;
}

.Forums .forums-list th, .Forums .forum-posts th
{
  white-space: nowrap;
}

.Forums table th .btn-link
{
  padding: 0;
  margin: 0;
}

.Forums .post
{ 
  border: solid 2px #16698c;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.Forums .post-status
{
  font-size: 0.8em;
  color: #333;
  text-transform: capitalize;
  border: dashed 1px #bbb;
  padding: 1px 2px;
}

.Forums .post .post-flags, .Forums .reply .reply-flags 
{
  display: flex;
  gap: 4px;  
  flex-direction: row;
  margin-bottom: 4px;
  margin-left: auto;
}

.Forums .post .post-flags span, .Forums .reply .reply-flags span
{
  font-size: 0.8em;
  text-transform: capitalize;
  border: dashed 1px #bbb;
  padding: 1px 2px;
  margin: 0.25rem 0 auto auto;
}

.Forums .post .attachments, .Forums .reply .attachments
{
  display: inline-grid;
  gap: 1em;
  grid-auto-flow: column;
  font-size: 0.8em;
}

.Forums .post .attachments::before, .Forums .reply .attachments::before
{
  content: 'Attachments: ';
  font-weight: bold;
}

.Forums .post .nucleus-form-tools
{
  margin-top: 4px;
}

.Forums .post .AdminTools
{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 4px;
  justify-content: flex-end;
}

.Forums h3
{
  font-size: 1.25rem;
}

.Forums .post h3
{
  margin: 0;
}

.Forums .reply
{
  border: dotted 2px #21A3DA;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

/* indenting for reply-to-reply levels */
.Forums .reply.reply-level-1
{
  border-left: solid 0.4rem #21A3DA;
}

.Forums .reply.reply-level-2
{
  border-left: solid 0.8rem #21A3DA;
}

.Forums .reply.reply-level-3
{
  border-left: solid 1.2rem #21A3DA;
}

.Forums .reply.reply-level-4
{
  border-left: solid 1.6rem #21A3DA;
}

.Forums .post .heading, .Forums .reply .heading
{
  display: flex;
  flex-direction: row;
  gap: 4px;  
}

.Forums .post .controls, .Forums .reply .controls
{
  display: inline-flex;
  flex-direction: row;
  margin-left: auto;
  gap: 4px;
  align-items: flex-end;
}

/*.Forums .reply .controls *
{
  align-self: flex-end;
}*/

.Forums .body
{
  background-color: #eee;
  padding: 0.25rem;
  font-size: 0.9rem;
  overflow: auto;
}

.Forums .body p:last-child
{
  margin-bottom: 0;
}

.Forums .original-post.body
{
  max-height: 6rem;
  overflow: auto;
}

.Forums .settings-control.stretch
{
  min-height: 30vh;
}

.forums-manage-subscriptions h3
{
  font-size: 1.2rem;
}

.forums-manage-subscriptions h4
{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.forums-manage-subscriptions .group-forums span:not(:last-child)::after
{
  content: ', ';
}

.forums-manage-subscriptions table .btn
{
  min-width: 6rem;
}

.forums-manage-subscriptions table .frequency-col
{
  width: 16rem;
}

.forums-manage-subscriptions table .btn-col
{
  width: 7rem;
}

.forums-manage-subscriptions .subscriptions-group-wrapper
{
  border: solid 1px #aaaaaa;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}
