.Forums .forums-list, .Forums .forum-posts
{
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 12px;
}

.Forums table th, .Forums TABLE td
{
  padding: 4px 12px;
	text-align: left;
  vertical-align: middle;
}

.Forums .group-header:not(:first-child)
{
  border-top: 1px solid #ccc;
}

.Forums .group-header:not(:first-child) th
{
  padding-top: 1rem;
}

.Forums .forums-list .forum-title
{
  display: flex;
  width: auto;
  white-space: nowrap;
}

.Forums .forums-list .forum-title > div
{
  display: inline-block;
}

.Forums .forums-list .forum-subject
{
  text-overflow: ellipsis;
  max-width: 16em;
  overflow: hidden;
}

.Forums .compact-cell
{
  width: 1%;
  white-space: nowrap;
}

.Forums .forums-list th, .Forums .forum-posts th
{
  white-space: nowrap;
}

.Forums .forums-list td:last-child, .Forums .forum-posts td:last-child
{
  font-size: 0.9rem;
  line-height: 1.2;
}

.Forums .post
{ 
  border: solid 2px #16698c;
  padding: 4px;
  margin-bottom: 8px;
}

.Forums .post-status
{
  font-size: 0.8em;
  color: #333;
  text-transform: capitalize;
  border: dashed 1px #bbb;
  padding: 1px 2px;
}

.Forums .post .post-flags, .Forums .reply .reply-flags 
{
  display: flex;
  gap: 4px;  
  flex-direction: row;
  margin-bottom: 4px;
  justify-content: flex-end;
}

.Forums .post .post-flags span, .Forums .reply .reply-flags span
{
  font-size: 0.8em;
  text-transform: capitalize;
  border: dashed 1px #bbb;
  padding: 1px 2px;
}

.Forums .post .attachments, .Forums .reply .attachments
{
  display: inline-grid;
  gap: 1em;
  grid-auto-flow: column;
  font-size: 0.8em;
}

.Forums .post .nucleus-form-tools
{
  margin-top: 4px;
}

.Forums .post .AdminTools
{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 4px;
  justify-content: flex-end;
}

.Forums .post h3
{
  margin: 0;
}

.Forums .reply
{
  border: dotted 2px #21A3DA;
  margin-bottom: 8px;
}

.Forums .reply .heading
{
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;  
}

.Forums .reply .controls
{
  display: inline-flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  gap: 4px;
}

.Forums .reply .controls *
{
  display: inline-flex;
  align-self: flex-end;
}

.Forums .body
{
  background-color: #eee;
  padding: 8px;
}

.Forums .settings-control.stretch
{
  min-height: 30vh;
}
