@model Nucleus.Web.ViewModels.Admin.UserIndex
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
<h1>Users</h1>
<div class="Tools">
	<a href="@Url.Content("~/Admin/SystemAdministrators/Editor")" class="button" data-target=".UserEditor">New User</a>
</div>
<div class="IndexWrapper">
	<div class="ItemsList">
		<ul>
			@foreach (var item in Model.Users)
			{
				<li><a href="@Url.Content("~/Admin/SystemAdministrators/Editor")?id=@item.Id" data-target=".UserEditor">@item.UserName</a></li>
			}
		</ul>
	</div>

	<div class="UserEditor EditorPanel"></div>
</div>