@model Nucleus.Modules.MultiContent.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<SettingsControl caption="Transition Inverval (ms)" helptext="Specify the interval between slide transitions, in milliseconds.">
	@Html.TextBoxFor(model => model.LayoutSettings.Interval, new { @type = "number" })
</SettingsControl>
	
<div class="nucleus-flex-fields">
	<SettingsControl caption="Show Controls?" rendermode="LabelLast" class="inner-inline" helptext="Specifies whether navigation (next/back) controls are displayed.">
		@Html.CheckBoxFor(model => model.LayoutSettings.ShowControls, new { @class = "ToggleSwitch" })
	</SettingsControl>

	<SettingsControl caption="Show Indicators?" rendermode="LabelLast" class="inner-inline" helptext="Specifies whether indicators are displayed to show progress through available content.">
		@Html.CheckBoxFor(model => model.LayoutSettings.ShowIndicators, new { @class = "ToggleSwitch" })
	</SettingsControl>

	<SettingsControl caption="Render Plain?" rendermode="LabelLast" class="inner-inline" helptext="Render the accordion without a background color, rounded corners so that it is rendered edge-to-edge with the parent container.">
		@Html.CheckBoxFor(model => model.LayoutSettings.RenderFlush, new { @class = "ToggleSwitch" })
	</SettingsControl>
</div>