@model Nucleus.Modules.MultiContent.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<div class="nucleus-flex-fields">
	<SettingsControl caption="Alignment" helptext="Choose tabs alignment.">
		@Html.DropDownListFor(model => model.LayoutSettings.Alignment, Html.GetEnumSelectList<Nucleus.Modules.MultiContent.ViewModels.LayoutSettings.AlignmentStyles>())
	</SettingsControl>

	<SettingsControl caption="Orientation" helptext="Choose tabs orientation.">
		@Html.DropDownListFor(model => model.LayoutSettings.Orientation, Html.GetEnumSelectList<Nucleus.Modules.MultiContent.ViewModels.LayoutSettings.OrientationStyles>())
	</SettingsControl>


	<SettingsControl caption="Fill?" rendermode="LabelLast" class="inner-inline align-self-end" helptext="Extend tabs to fill available space.">
		@Html.CheckBoxFor(model => model.LayoutSettings.Fill, new { @class = "ToggleSwitch" })
	</SettingsControl>

	<SettingsControl caption="Justify?" rendermode="LabelLast" class="inner-inline align-self-end" helptext="Make every tab the same width.">
		@Html.CheckBoxFor(model => model.LayoutSettings.Justify, new { @class = "ToggleSwitch" })
	</SettingsControl>
</div>