.multi-content-carousel .carousel-control-prev, .multi-content-carousel .carousel-control-next
{
	width: auto;
}

.multi-content-carousel .carousel-indicators
{
	margin-bottom: 0;
}

.multi-content-carousel .carousel-inner
{
	margin: auto;
}

.multi-content-carousel.multi-content-carousel-show-controls .carousel-inner
{
	width: calc(100% - 5rem);
}

.multi-content-faq
{
	padding-left: 0;
}

.multi-content-faq li
{
	list-style: none;
}

.multi-content-faq .accordion-button, .multi-content-faq .accordion-button:focus, .multi-content-faq .accordion-button:not(.collapsed)
{
	box-shadow: none;
	padding: 0.5rem;
	background: inherit;
	color: inherit;
}

.multi-content-faq .accordion-button:after, .multi-content-faq .accordion-button:before,
.multi-content-faq .accordion-button:not(.collapsed):after, .multi-content-faq .accordion-button:not(.collapsed):before
{
	background-image: none;  
	transform: none;
}

.multi-content-faq.align-left .accordion-button:before, .multi-content-faq.align-right .accordion-button:after
{
	font-family: 'Material Icons';
  width: 1.25rem;
  content: "\e5cf"; 
}

.multi-content-faq.align-left .accordion-button:not(.collapsed):before, .multi-content-faq.align-right .accordion-button:not(.collapsed):after
{
	content: '\E5ce';
}

.multi-content-faq.align-left.icon-plus .accordion-button:before, .multi-content-faq.align-right.icon-plus .accordion-button:after
{
	content: '\E145';
} 

.multi-content-faq.align-left.icon-plus .accordion-button:not(.collapsed):before, .multi-content-faq.align-right.icon-plus .accordion-button:not(.collapsed):after
{
	content: '\E15B';
}

.multi-content-faq.align-left.icon-arrows .accordion-button:before, .multi-content-faq.align-right.icon-arrows .accordion-button:after
{
	content: '\e5db';
} 

.multi-content-faq.align-left.icon-arrows .accordion-button:not(.collapsed):before, .multi-content-faq.align-right.icon-arrows .accordion-button:not(.collapsed):after
{
	content: '\e5d8';
}

.multi-content-faq.align-left.icon-dropdownarrows .accordion-button:before, .multi-content-faq.icon-dropdownarrows.align-right .accordion-button:after
{
	content: '\e5c5';
	font-size: 1.5rem;
	height: 1.6rem;
} 

.multi-content-faq.align-left.icon-dropdownarrows .accordion-button:not(.collapsed):before, .multi-content-faq.align-right.icon-dropdownarrows .accordion-button:not(.collapsed):after
{
	content: '\e5c7';
}

