@model Nucleus.Web.ViewModels.Admin.SiteEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@using (Html.BeginAreaForm("SaveAlias", "Sites", "Admin", FormMethod.Post, new { @data_target = ".AdminPage", @autocomplete = "off" }))
{
<fieldset role="group" aria-labelledby="heading">
	<h2>Site Alias</h2>
	<a class="ClosePopup">&#xe5cd;</a>
	@Html.HiddenFor(model => model.Alias.Id)
	@Html.HiddenFor(model => model.Site.Id)
	@Html.HiddenFor(model => model.IsCurrentSiteEditor)
	<SettingsControl caption="Alias" helptext="Alias">
		@Html.TextBoxFor(model => model.Alias.Alias)
	</SettingsControl>
</fieldset>		

	<div class="ButtonPanel">
		<input type="submit" class="DefaultButton" value="Save Changes" />
	</div>
}

@*<div class="AliasEditor">

</div>*@
