@model Nucleus.Modules.Account.ViewModels.ChangePassword
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@using Nucleus.Abstractions.Models.Configuration
@using (Html.BeginNucleusForm("SaveSettings", "Signup", FormMethod.Post))
{
	<div class="alert alert-secondary">
		This module has no settings.
	</div>

	<fieldset>
			
		<div>
			<input type="submit" value="Save Changes" class="btn btn-primary" />
		</div>
	</fieldset>
}
