@model Nucleus.Modules.Account.ViewModels.Signup
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@using Nucleus.Abstractions.Models.Configuration
@using (Html.BeginNucleusForm("SaveSettings", "Signup", FormMethod.Post))
{
	@if (!String.IsNullOrEmpty(Model.Message))
	{
		<div>@Model.Message</div>
	}

	<fieldset class="form-fields">
			
		<div>
			<input type="submit" value="Save Changes" />
			<a href="/" value="Cancel" />
		</div>
	</fieldset>
}
