*, .AdminPanel .ui-widget input, .AdminPanel .ui-widget select, .AdminPanel .ui-widget textarea, .AdminPanel .ui-widget button
{
	font-family: 'Segoe UI', sans-serif;
}

html, body, .Nucleus.AdminPanel
{
	height: 100%;
}

body 
{
	width: 100%;
	margin: 0;
}

.Nucleus.AdminPanel
{
	display: flex;	
	background: #444;	
}

.Nucleus .AdminPage .ButtonPanel
{
	display: flex;
	gap: 8px;
	margin-top: 8px;
	margin-bottom: 4px;
}

.Nucleus .AdminPage .flex-fill
{
	display: flex;
	flex-basis: 100%;
	margin-right: 8px;
}

.Nucleus.AdminPanel .AdminPage
{
	height: calc(100% - 92px);	
	position: relative;	
	display: flex;
	flex-direction: column;
}

.Nucleus .AdminPage .IndexWrapper
{
	flex: 1;
	display: flex;	
	flex-basis: 100%;
	height: 100%;
	flex-direction: row;	
}

.Nucleus .AdminPage .ButtonPanel .DefaultButton
{
	background-color: #197ba4;
}

.Nucleus .AdminPage table
{
	width: 100%;
	border-collapse: collapse;
}

.Nucleus .AdminPage table th
{
	text-align: left;
}

.Nucleus .AdminPage table input[type=text]
{
	width: 100%;
	box-sizing: border-box;
}

.Nucleus .AdminPage table.headers-column th
{
	text-align: left;
	padding-right: 32px;
	width: 10em;
}

.Nucleus.AdminPanel .MinimizedControls
{
	width: 100px;
	margin: 0;
	color: white;
	display: flex;
	flex-direction: column;
}

.Nucleus.AdminPanel ul.MinimizedControls
{
	padding: 0;
	margin: 0;
}

.Nucleus.AdminPanel .MinimizedControls li
{
	padding: 12px;
	opacity: 0.9;
	user-select: none;
	cursor: default;		
	list-style-type: none;
}


.Nucleus.AdminPanel .MinimizedControls li:hover
{
	opacity: 0.95;
	background-color: #222;		
}

.Nucleus.AdminPanel .MinimizedControls li:active
{
	opacity: 1;
	background-color: #111;		
}

.Nucleus.AdminPanel .MinimizedControls li, .Nucleus.AdminPanel .MinimizedControls li:hover, .Nucleus.AdminPanel .MinimizedControls li:active,.Nucleus.AdminPanel .MinimizedControls li a
{
	color: white;
}

.Nucleus.AdminPanel .MinimizedControls li.SystemIcon
{
	background-color: #0A0A0A;
}

.Nucleus.AdminPanel .MinimizedControls li.SystemIcon A
{
	color: #a4e4ff;
}

.Nucleus.AdminPanel .MinimizedControls li.PagesIcon A
{
	color: #f78f73;
}

.Nucleus.AdminPanel .MinimizedControls li.ManageIcon A
{
	color: #f1a4ff;
}

.Nucleus.AdminPanel .MinimizedControls li.ExtensionsIcon A
{
	color: #ffdca4;
}

.Nucleus.AdminPanel .MinimizedControls li.SettingsIcon A
{
	color: #a4ffe2;
}

.Nucleus.AdminPanel .ControlPanel li.UsersIcon span, .Nucleus.AdminPanel .ControlPanel li.SysAdminsIcon span
{
	color: #0033da;
}

.Nucleus.AdminPanel .ControlPanel li.RoleGroupsIcon span, .Nucleus.AdminPanel .ControlPanel li.SiteGroupsIcon span
{
	color: #7900d6;
}

.Nucleus.AdminPanel .ControlPanel li.RolesIcon span
{
	color: #d600ce;
}

.Nucleus.AdminPanel .ControlPanel li.SiteIcon span, .Nucleus.AdminPanel .ControlPanel li.SitesIcon span
{
	color: #444444;
}

.Nucleus.AdminPanel .ControlPanel li.MailIcon span
{
	color: #a8c600;
}

.Nucleus.AdminPanel .ControlPanel li.FilesIcon span
{
	color: #dd9700;
}

.Nucleus.AdminPanel .ControlPanel li.ListsIcon span, .Nucleus.AdminPanel .ControlPanel li.ScheduledTasksIcon span
{
	color: #00738c;
}

.Nucleus.AdminPanel .MinimizedControls li:not(.EditIcon) + .EditIcon
{
	margin-top: auto;
}

.Nucleus.AdminPanel .MinimizedControls li.EditIcon.EditModeEnabled
{
	background-color: #111;
}

.Nucleus.AdminPanel .MinimizedControls li.EditPage A
{
	color: #a8c600;
}

.Nucleus.AdminPanel .MinimizedControls li.EditContent A
{
	color: #ff9e06;
}

.Nucleus.AdminPanel .MinimizedControls li .Label
{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}


.Nucleus.AdminPanel .MinimizedControls A
{	
	display: block;
	text-decoration: none;
	text-align: center;
}

.Nucleus.AdminPanel .MinimizedControls A span
{
	display: block;
	height: 48px;
	width: 48px;
	margin: auto;
	box-sizing: border-box;
	font-family: 'Material Icons'; 
	font-size: 42px;
}

.Nucleus .AdminPage table .SmallIconCell .MaterialIcon
{
	font-size: 15px;
}

.Nucleus .AdminPage table .SmallIconCell
{
	width: 20px;
	background-color: transparent;
	padding: 2px;
}


.Nucleus .AdminPage .NavigateLink .MaterialIcon 
{
	margin-right: 4px;
}

.Nucleus .AdminPage button:not(.nav-link), .Nucleus .AdminPage .button, .Nucleus .AdminPage input[type=button], .Nucleus .AdminPage input[type=submit]
{
	display: inline-block;
	background-color: #21A3DA;
	color: white;
	border: 0;
	border-radius: 4px;
	padding: 8px;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}

.Nucleus .AdminPage .SmallIconCell button:not(.nav-link), .Nucleus .AdminPage .SmallIconCell .button, .Nucleus .AdminPage .SmallIconCell input[type=button], .Nucleus .AdminPage .SmallIconCell input[type=submit]
{
	padding: 4px 6px;
}

.Nucleus .AdminPage button.secondary, .Nucleus .AdminPage .button.secondary, .Nucleus .AdminPage input[type=button].secondary, .Nucleus .AdminPage input[type=submit].secondary
{
	font-weight: bold;
	background-color: white;
	color: #21A3DA;
}

.Nucleus .AdminPage .SmallIconCell button, .Nucleus .AdminPage .SmallIconCell .button, .Nucleus .AdminPage .SmallIconCell input[type=button], .Nucleus .AdminPage .SmallIconCell input[type=submit]
{
	margin-right: 0;
}

.Nucleus .AdminPage button:hover, .Nucleus .AdminPage .button:hover, .Nucleus .AdminPage input[type=button]:hover, .Nucleus .AdminPage input[type=submit]:hover
{
	background-color: #1979A2;
	color: white;
}

.Nucleus .AdminPage button:active, .Nucleus .AdminPage .button:active, .Nucleus .AdminPage input[type=button]:active, .Nucleus .AdminPage input[type=submit]:active
{
	background-color: #16698c;
	color: white;
}

.Nucleus .AdminPage button.DeleteButton, .Nucleus .AdminPage .button.DeleteButton, .Nucleus .AdminPage input[type=button].DeleteButton, .Nucleus .AdminPage input[type=submit].DeleteButton
{
	background-color: #a42013;
}

.Nucleus .AdminPage button.DeleteButton:hover, .Nucleus .AdminPage .button.DeleteButton:hover, .Nucleus .AdminPage input[type=button].DeleteButton:hover, .Nucleus .AdminPage input[type=submit].DeleteButton:hover
{
	background-color: #e02c19;
}

.Nucleus .AdminPage button.DeleteButton:active, .Nucleus .AdminPage .button.DeleteButton:active, .Nucleus .AdminPage input[type=button].DeleteButton:active, .Nucleus .AdminPage input[type=submit].DeleteButton:active
{
	background-color: #ff331c;
}


.Nucleus .AdminPage ul.ControlPanel
{
	white-space: initial;
}

.Nucleus .AdminPage ul.ControlPanel li  
{
	width: 320px;
	min-height: 52px;
	font-size: 12px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
	vertical-align: top;
	padding: 8px;
	position: relative;	
}

.Nucleus .AdminPage ul.ControlPanel a
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.Nucleus.AdminPanel .AdminContent
{
	display: none;	
	flex-grow: 1;
	transition: .25s;
	margin: 8px;	
	box-sizing: border-box;
	border: 8px solid white;
	border-radius: 8px;
	background-color: white;	
	max-height: calc(100% - 16px);
	overflow: auto;
	resize: both;
}

.Nucleus.AdminPanel .AdminContentControls
{
	position: absolute;
	right: 16px;
}

.Nucleus .CloseAdminFrame, .Nucleus .PageBackButton, .Nucleus .CloseResults
{
	font-family: 'Material Icons'; 
	font-size: 20px;	
	text-decoration: none;
	color: black;
	position: relative;
	float: right;
	margin-top: 4px;
	z-index: 1000;
	cursor: pointer;
}

.Nucleus .AdminPage .ClosePopup
{
	font-family: 'Material Icons'; 
	font-size: 20px;	
	position: absolute;
	top: 12px;
	right: 12px;
	text-decoration: none;
	color: black;
	z-index: 1000;
	cursor: pointer;
}

.Nucleus .align-right
{
	margin-left: auto;
}

.Nucleus .align-center
{
	text-align: center!important;
}

.Nucleus .float-right
{
	float: right;
}

.Nucleus.AdminPanel .AdminContent .AdminPageBack
{
	display: none;
}

.Nucleus .AdminPage ul.ControlPanel span
{
	float: left;
	margin: 0 8px 28px 0;
	font-family: 'Material Icons'; 
	font-size: 42px;	
}

.Nucleus .AdminPage ul.ControlPanel li:hover, .Nucleus .AdminPage ul.ControlPanel li:active 
{
	background-color: #444;
	color: white;
	cursor: pointer;
	user-select: none;
}

.Nucleus .AdminPage fieldset, .Nucleus .AdminPage legend
{
	border: 0;
	margin: 0;
	padding: 0;
}

.Nucleus .AdminPage h1, .Nucleus .AdminPage h2, .Nucleus .AdminPage h3
{
	margin: 0 0 8px 0;	
}

.Nucleus .AdminPage h1
{
	font-size: 24px;
	margin: 0 0 8px 0;
}

.Nucleus .AdminPage h2
{
	font-size: 16px;
}

.Nucleus .AdminPage h3
{
	font-size: 14px;	
}

.Nucleus .AdminPage fieldset h3
{
	margin-top: 2em;
}

.Nucleus .AdminPage .Flex
{
	display: flex;
	gap: 8px;
	clear: both;
	align-items: end;
}

.Nucleus .AdminPage .Flex > div
{
	flex-grow: 1;
}

.Nucleus .AdminPage .ItemsList
{
	display: inline-block;
	vertical-align: top;
	min-width: 200px;			
	flex-grow: 1;
}

.Nucleus .AdminPage .ItemsList ul
{
	min-height: 300px;
	height: 100%;
	overflow-y: auto;
	margin-top: 2px;
	padding: 4px;
	border: solid 1px #AAA;
}

.Nucleus .AdminPage .ItemsList ul ul
{
	border: none;
	margin-left: 12px;
	min-height: auto;
	max-height: auto;
	overflow-y: unset;
	margin-top: auto;
}

.Nucleus .AdminPage .ItemsList li 
{
	list-style-type: none;
}

.Nucleus .AdminPage .ItemsList li a
{
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	margin: 0 0 4px 0;
	color: black;
}

.Nucleus .AdminPage .ItemsList a:hover
{
	background-color: #CCC;
	border-radius: 4px;
	color: white;
}

.Nucleus .AdminPage .ItemsList li.selected > A
{
	background-color: #197ba4;
}

.Nucleus .AdminPage .ItemsList li.selected > *
{
	color: white;
}

.Nucleus .AdminPage .EditorPanel
{
	display: flex; 
	flex-direction: column;
	justify-content: stretch;
	margin-left: 16px;
	flex-grow: 4;
	overflow: auto;
}

.Nucleus .AdminPage .EditorPanel form, .Nucleus .AdminPage .EditorPanel form fieldset
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.Nucleus.PopupPanel
{
	height: 100%;
	overflow: auto;
}

.Nucleus.PopupPanel .AdminPage
{
	box-sizing: border-box;
	background-color: white;
	z-index: 4;
}

.Nucleus .EditorBody
{
	box-sizing: border-box;
	min-width: 500px;
	min-height: 350px;
	background-color: white;
	z-index: 4;
}

.Nucleus.AdminPanel .AdminPage .EditorPopup
{	
	display: none;	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -175px;
	box-sizing: border-box;
	min-width: 500px;
	min-height: 350px;
	background-color: white;
	padding: 12px;
	border-radius: 8px;
	z-index: 4;
}

.Nucleus .AdminPage .EditorPopup
{
	display: none;		
	position: fixed;	
	box-sizing: border-box;
	min-width: 500px;
	min-height: 350px;
	background-color: white;
	padding: 12px;
	border-radius: 8px;
	z-index: 4;
}

.Nucleus .AdminPage .EditorPopup .FullWidth
{
	width: 100%;
}

.Nucleus .AdminPage .ModuleSettings
{
	padding: 8px;
	box-sizing: border-box;
}

.Nucleus.PopupPanel .ModuleSettings
{
	min-height: 400px;
}

.Nucleus .AdminPage .System
{
	min-width: 640px;
}

.Nucleus .AdminPage .System select, .Nucleus .AdminPage .ScheduledTasks select
{
	min-width: 200px;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}

.Nucleus .AdminPage .ScheduledTasks .interval .settings-control
{
	flex-grow: 2;
}

.Nucleus .AdminPage .ScheduledTasks .interval .settings-control:first-child
{
	flex-grow: 1;
}

.Nucleus .AdminPage .LogContent
{
	white-space: nowrap;
}

.Nucleus .AdminPage pre
{
	font-family: monospace;	
}

.Nucleus .AdminPage .ExtensionInstaller
{
	min-width: 660px;
	min-height: 400px;
}


.Nucleus .AdminPage .ExtensionInstaller .InstalledExtensions
{
	font-size: 14px;
}

.Nucleus .AdminPage .ExtensionInstaller .InstalledExtensions .EmailIcon
{
	text-decoration: none;
	color: #21A3DA!important;
	font-size: 18px;
	vertical-align: text-bottom;
}

.Nucleus .AdminPage .ExtensionInstaller .InstalledExtensions tr
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
}

.Nucleus .AdminPage .ExtensionInstaller .InstalledExtensions tr:last-child
{
	border-bottom: none;
}

.Nucleus .AdminPage .ExtensionInstaller .InstalledExtensions td
{
	vertical-align: top;
	padding: 4px;
}

.Nucleus .AdminPage .FileBrowser label
{
  cursor: pointer;
}

.Nucleus .AdminPage .Restart
{
	display: none;
}

.Nucleus .AdminPage .FileSystemManager
{
	min-width: 750px;
}

.Nucleus .AdminPage .FileSystemItems
{
	font-size: 14px;
}

.Nucleus .AdminPage .FileSystemItems th, .Nucleus .AdminPage .FileSystemItems td
{
	padding: 4px 8px;
}

.Nucleus .AdminPage .SearchResults .Results
{
	position: absolute;
	border: solid 2px #222;
	min-width: 300px;
	background-color: white;
	z-index: 5;
	padding: 8px;
}
