/* CSS classes for the inline module settings controls */
.ModuleInEditMode
{
  border: dotted 2px #ddd;
  position: relative;
}

.ModuleInEditMode form.ModuleEditControls
{
  display: none;
  position: absolute;
  right: 0;
  display: none;
	gap: 2px;
}

.ModuleInEditMode:hover form.ModuleEditControls
{
  display: flex;
}

.ModuleInEditMode form.ModuleEditControls .button, .ModuleInEditMode form.ModuleEditControls button
{
  background-color: #68b8da;
  padding: 4px 6px;
  font-size: 12px;
}