html, body
{
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body 
{
	margin: 0;
	overflow: auto;
}

@font-face 
{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/Resources/material-icons.woff2) format('woff2');
}

.MaterialIcon
{
	font-family: 'Material Icons'; 
}

.Nucleus.AdminFrame
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	border: 0;
	transition: 0.25s;
}

.Nucleus.ModuleEditorFrame
{
	display: none;
	z-index: 99;
	border: 0;
	width: 100%;
	height: 100%;
}

.AdminFramePlaceholder
{
	float: left;
	width: 100px;
	height: 100%;
}

.Nucleus.AdminFrame.Expanded
{
	width: 100%;
	z-index: 10000;
}

.Nucleus.Content
{
	left: 100px;
	height: 100%;
}

.PopupMenu
{
	display: none;
}


button, .button, input[type=button], input[type=submit]
{
	display: inline-block;
	background-color: #21A3DA;
	color: white;
	border: 0;
	border-radius: 4px;
	padding: 8px 8px;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}

.button A
{
	color: white;
	text-decoration: none;
}

button, .button:hover, input[type=button]:hover, input[type=submit]:hover
{
	background-color: #1979A2;
	color: white;
}

button, .button:active, input[type=button]:active, input[type=submit]:active
{
	background-color: #16698c;
	color: white;
}

button.secondary, .button.secondary, input[type=button].secondary, input[type=submit].secondary
{
	font-weight: bold;
	background-color: white;
	color: #21A3DA;
}

.AccountControl A
{
	display: inline-block;
	margin: 0 0 0 4px;	
	text-decoration: none;
	background-color: #197ba4;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
}

.AccountControl a span
{
	margin-right: 4px;
}


.AccountControl .AccountMenu
{
	position: absolute;
	right: 0;
	
}

.AccountControl .AccountMenu UL
{
	position: absolute;
	top: 0;
	right: 0;
	
	display: block;
	padding: 0;
	margin: 0;
	background-color: #444;		
	box-shadow: 2px 2px #999;
}

.AccountControl .AccountMenu li
{
	list-style-type: none;
	white-space: nowrap;
	color: white;
}

.AccountControl .AccountMenu li a
{
	display: block;
	padding: 12px 14px;
	border-radius: 0;
	background-color: #444;
	color: white;
	text-decoration: none;
}

.AccountControl .AccountMenu li:hover
{
	opacity: 0.95;
	background-color: #222;	
	
}

.AccountControl .AccountMenu li:active
{
	opacity: 1;
	background-color: #111;	
}
