@font-face 
{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/Resources/material-icons.woff2) format('woff2');
}

.MaterialIcon
{
	font-family: 'Material Icons'!important; 
}

/* supplement bootstrap tab style to add a border and padding */
.tab-content
{
  border: 1px solid #dee2e6;
  border-top-width: 0;
  padding: 1em;
}

/* supplement bootstrap menu to allow submenus */
.dropdown-submenu 
{
  position: relative;
  display: flex;
}

.dropdown-submenu a
{
  padding-right: 0;
}

.dropdown-submenu .dropdown-submenu .dropdown-menu
{
  margin-left: 4rem;
}

.dropdown-submenu .dropdown-toggle
{
  padding-left: 0;
  padding-right: 0.8rem;
}

.dropdown-submenu a::after 
{
  position: absolute;
  right: 3px;
  top: 1.1em;
  margin-right: 0.25rem;
}

.dropdown-menu .dropdown-submenu .dropdown-menu 
{
  position: relative;  
  top: auto;
  left: 100%;
  margin-top: 0;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown-submenu .dropdown-menu 
{
  padding-top: 0;
  padding-bottom: 0;
}

.EditorOverlay
{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.25;
	z-index: 3;	
}

/* override bootstrap breadcrumb style */
.breadcrumb
{
  margin: 0 1rem 0 1rem; 
}

.ValidationError
{
	border: solid 2px red!important;
}

input[type=range].ToggleSwitch
{
	-webkit-appearance: none;
  width: 50px;
  height: 25px;
  background: #d3d3d3;
  outline: gray;
  opacity: 0.7;
  transition: opacity .2s;
  padding: 2px;
  vertical-align: middle;
  font-size: 18px;
  position: relative;
  margin-right: 0.25em;
}

input[type=range].ToggleSwitch::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: gray;  
  cursor: pointer;
}

input[type=range].ToggleSwitch::-webkit-slider-runnable-track
{
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
}

input[type=range].ToggleSwitch::-moz-range-thumb 
{
  width: 25px;
  height: 25px;
  background-color: gray;
  cursor: pointer;
}

input[type=range].ToggleSwitch::-moz-range-track
{
  height: 25px;
}

input[type=range].ToggleSwitch.checked::-webkit-slider-thumb 
{
  background-color: #1979A2;
}

input[type=range].ToggleSwitch.checked::-moz-range-thumb
{
  background-color: #1979A2;
}

input[type=range].ToggleSwitch:after
{
  font-family: 'Material Icons'!important; 
	content: "";
	position: absolute;
	left: 8px;
	top: 0;
  color: white;
  font-size: 16px;
}

input[type=range].ToggleSwitch.checked:after
{
	content: "\e876";
	left: 28px;
}

.UploadProgress
{
	display: none;
	margin: 8px auto;
  border: 1px solid #dee2e6;
	width: 80%;	
  padding: 1em;
  font-size: 14px;
}