:root
{
  --page-links-highlight-text-color: inherit;
  --page-links-highlight-background-color: yellow;

  /* this variable is used by viewer.js.  set to 0 to disable target highlighting */
  --page-links-highlight-duration: 750; 
  --page-links-highlight-transition-duration: 0.5s;
}

/* Remove padding from the first "outer" ol */
.page-links 
{
  padding-left: 0;
  list-style-type: none;
}

.page-links.page-links-horizontal
{
  display: flex;
  row-gap: var(--nucleus-default-gap-vertical);
  column-gap: var(--nucleus-default-gap-horizontal);
}
 
.page-links.page-links-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  row-gap: var(--nucleus-default-gap-vertical);
  column-gap: var(--nucleus-default-gap-horizontal);
}

.page-links ol
{
  list-style-type: none;
  padding-left: 1rem;
}

h1, h2, h3, h4, h5, h6
{
  transition: background-color ease-in var(--page-links-highlight-transition-duration);
}

.pagelink-highlight
{
  color: var(--page-links-highlight-text-color)!important;
  background-color: var(--page-links-highlight-background-color)!important;
  transition: background-color ease-out var(--page-links-highlight-transition-duration);
}

