.container-style
{
  --size-1: 1px;
  --size-2: 0.25rem;
  --size-3: 0.5rem;
  --size-4: 1rem;
  --size-5: 2rem;
}

@property --container-alignment
{
  /* title: Alignment */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "left | center | right | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --container-text-color
{
  /* title: Text Color */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --container-background-color
{
  /* title: Background Color */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --container-padding
{
  /* title: Padding */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --container-margin
{
  /* title: Margin */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --container-border-size
{
  /* title: Border Size */
  /* group: Container Border */
  /* baseClass: container-border */
  /* preserveOrder: true */
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@property --container-border-color
{
  /* title: Border Color */
  /* group: Container Border */
  /* baseClass: container-border */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --container-border-style
{
  /* title: Border Style */
  /* group: Container Border */
  /* baseClass: container-border */
  /* preserveOrder: true */
  syntax: "none | dotted | dashed | solid | double | groove | ridge | inset | outset ";
  inherits: true;
  initial-value: none;
}

/* properties which define container styles  */
@property --title-alignment
{
  /* title: Title Alignment */
  /* group: Title */
  /* baseClass: container-title */
  /* preserveOrder: true */
  syntax: "left | center | right | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --title-color
{
  /* title: Title Text Color */
  /* group: Title */
  /* baseClass: container-title */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --title-background-color
{
  /* title: Title Background Color */
  /* group: Title */
  /* baseClass: container-title */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --title-padding
{
  /* title: Title Padding */
  /* group: Title */
  /* baseClass: container-title */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --title-margin
{
  /* title: Title Margin */
  /* group: Title */
  /* baseClass: container-title */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --content-alignment
{
  /* title: Content Alignment */
  /* group: Content */
  /* baseClass: container-content */
  /* preserveOrder: true */
  syntax: "left | center | right | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --content-color
{
  /* title: Content Text Color */
  /* group: Content */
  /* baseClass: container-content */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --content-background-color
{
  /* title: Content Background Color */
  /* group: Content */
  /* baseClass: container-content */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --content-padding
{
  /* title: Content Padding */
  /* group: Content */
  /* baseClass: container-content */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --content-margin
{
  /* title: Content Margin */
  /* group: Content */
  /* baseClass: container-content */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

/* implementations */
.container-style
{
  text-align: var(--container-alignment);
  color: var(--container-text-color);
  background-color: var(--container-background-color);
  padding: var(--container-padding);
  margin: var(--container-margin);
}

.container-style.container-title .title, .container-style.container-title > h1, .container-style.container-title > h2, .container-style > h3.container-title, .container-style.container-title > h4, .container-style.container-title > h5, .container-style.container-title > h6
{
  text-align: var(--title-alignment);
  color: var(--title-color);
  background-color: var(--title-background-color);
  padding: var(--title-padding);
  margin: var(--title-margin);
}

.container-style.container-border
{
  border: var(--container-border-style) var(--container-border-size) var(--container-border-color);
}

.container-style.container-content > section
{
  text-align: var(--content-alignment);
  color: var(--content-color);
  background-color: var(--content-background-color);
  padding: var(--content-padding);
  margin: var(--content-margin);
}

/* title alignments container style values for the title-alignment @property */
.container-style.title-alignment-left
{
  --title-alignment: left;
}

.container-style.title-alignment-center
{
  --title-alignment: center;
}

.container-style.title-alignment-right
{
  --title-alignment: right;
}

/* title padding container style values for the @title-padding @property */
.container-style.title-padding-1
{
  /* title: Smallest */
  --title-padding: var(--size-1);
}

.container-style.title-padding-2
{
  /* title: Small */
  --title-padding: var(--size-2);
}

.container-style.title-padding-3
{
  /* title: Medium */
  --title-padding: var(--size-3);
}

.container-style.title-padding-4
{
  /* title: Large */
  --title-padding: var(--size-4);
}

.container-style.title-padding-5
{
  /* title: Thick */
  --title-padding: var(--size-5);
}

/* title margin container style values for the @title-margin @property */
.container-style.title-margin-auto
{
  /* title: Automatic (centered) */
  --title-margin: auto;
}

.container-style.title-margin-none
{
  /* title: None */
  --title-margin: 0;
}

.container-style.title-margin-1
{
  /* title: Smallest */
  --title-margin: var(--size-1);
}

.container-style.title-margin-2
{
  /* title: Small */
  --title-margin: var(--size-2);
}

.container-style.title-margin-3
{
  /* title: Medium */
  --title-margin: var(--size-3);
}

.container-style.title-margin-4
{
  /* title: Large */
  --title-margin: var(--size-4);
}

.container-style.title-margin-5
{
  /* title: Thick */
  --title-margin: var(--size-5);
}


/* border style container style values  */
.container-style.container-border-style-none
{
  --container-border-style: none;
}

.container-style.container-border-style-dotted
{
  --container-border-style: dotted;
}

.container-style.container-border-style-dashed
{
  --container-border-style: dashed;
}

.container-style.container-border-style-solid
{
  --container-border-style: solid;
}

.container-style.container-border-style-double
{
  --container-border-style: double;
}

.container-style.container-border-style-groove
{
  --container-border-style: groove;
}

.container-style.container-border-style-ridge
{
  --container-border-style: ridge;
}

.container-style.container-border-style-inset
{
  --container-border-style: inset;
}

.container-style.container-border-style-outset
{
  --container-border-style: outset;
}

/* border size container style values for the @container-border-size @property */
.container-style.container-border-size-1
{
  /* title: Smallest */
  --container-border-size: var(--size-1);
}

.container-style.container-border-size-2
{
  /* title: Small */
  --container-border-size: var(--size-2);
}

.container-style.container-border-size-3
{
  /* title: Medium */
  --container-border-size: var(--size-3);
}

.container-style.container-border-size-4
{
  /* title: Large */
  --container-border-size: var(--size-4);
}

.container-style.container-border-size-5
{
  /* title: Thick */
  --container-border-size: var(--size-5);
}

/* border color container style values for the container-border-color @property (uses bootstrap colors) */
.container-style.container-border-color-blue
{
  --container-border-color: var(--bs-blue);
}

.container-style.container-border-color-indigo
{
  --container-border-color: var(--bs-indigo);
}

.container-style.container-border-color-purple
{
  --container-border-color: var(--bs-purple);
}

.container-style.container-border-color-pink
{
  --container-border-color: var(--bs-pink);
}

.container-style.container-border-color-red
{
  --container-border-color: var(--bs-red);
}

.container-style.container-border-color-orange
{
  --container-border-color: var(--bs-orange)
}

.container-style.container-border-color-yellow
{
  --container-border-color: var(--bs-yellow)
}

.container-style.container-border-color-green
{
  --container-border-color: var(--bs-green)
}

.container-style.container-border-color-teal
{
  --container-border-color: var(--bs-teal)
}

.container-style.container-border-color-cyan
{
  --container-border-color: var(--bs-cyan)
}

.container-style.container-border-color-white
{
  --container-border-color: var(--bs-white)
}

.container-style.container-border-color-gray
{
  --container-border-color: var(--bs-gray)
}

.container-style.container-border-color-gray-dark
{
  --container-border-color: var(--bs-gray-dark)
}

.container-style.container-border-color-primary
{
  /* title: ● primary */
  --container-border-color: var(--bs-primary)
}

.container-style.container-border-color-secondary
{
  /* title: ● secondary */
  --container-border-color: var(--bs-secondary)
}

.container-style.container-border-color-success
{
  /* title: ● success */
  --container-border-color: var(--bs-success)
}

.container-style.container-border-color-info
{
  /* title: ● info */
  --container-border-color: var(--bs-info)
}

.container-style.container-border-color-warning
{
  /* title: ● warning */
  --container-border-color: var(--bs-warning)
}

.container-style.container-border-color-danger
{
  /* title: ● danger */
  --container-border-color: var(--bs-danger)
}

.container-style.container-border-color-light
{
  /* title: ● light */
  --container-border-color: var(--bs-light)
}

.container-style.container-border-color-dark
{
  /* title: ● dark */
  --container-border-color: var(--bs-dark)
}

/* container style values for the title-color @property (uses bootstrap colors) */
.container-style.title-color-blue
{
  --title-color: var(--bs-blue);
}

.container-style.title-color-indigo
{
  --title-color: var(--bs-indigo);
}

.container-style.title-color-purple
{
  --title-color: var(--bs-purple);
}

.container-style.title-color-pink
{
  --title-color: var(--bs-pink);
}

.container-style.title-color-red
{
  --title-color: var(--bs-red);
}

.container-style.title-color-orange
{
  --title-color: var(--bs-orange)
}

.container-style.title-color-yellow
{
  --title-color: var(--bs-yellow)
}

.container-style.title-color-green
{
  --title-color: var(--bs-green)
}

.container-style.title-color-teal
{
  --title-color: var(--bs-teal)
}

.container-style.title-color-cyan
{
  --title-color: var(--bs-cyan)
}

.container-style.title-color-white
{
  --title-color: var(--bs-white)
}

.container-style.title-color-gray
{
  --title-color: var(--bs-gray)
}

.container-style.title-color-gray-dark
{
  --title-color: var(--bs-gray-dark)
}

.container-style.title-color-primary
{
  /* title: ● primary */
  --title-color: var(--bs-primary)
}

.container-style.title-color-secondary
{
  /* title: ● secondary */
  --title-color: var(--bs-secondary)
}

.container-style.title-color-success
{
  /* title: ● success */
  --title-color: var(--bs-success)
}

.container-style.title-color-info
{
  /* title: ● info */
  --title-color: var(--bs-info)
}

.container-style.title-color-warning
{
    /* title: ● warning */
  --title-color: var(--bs-warning)
}

.container-style.title-color-danger
{
    /* title: ● danger */
  --title-color: var(--bs-danger)
}

.container-style.title-color-light
{
    /* title: ● light */
  --title-color: var(--bs-light)
}

.container-style.title-color-dark
{
    /* title: ● dark */
  --title-color: var(--bs-dark)
}

/* container style values for the title-background-color @property (uses bootstrap colors) */
.container-style.title-background-color-blue
{
  --title-background-color: var(--bs-blue);
}

.container-style.title-background-color-indigo
{
  --title-background-color: var(--bs-indigo);
}

.container-style.title-background-color-purple
{
  --title-background-color: var(--bs-purple);
}

.container-style.title-background-color-pink
{
  --title-background-color: var(--bs-pink);
}

.container-style.title-background-color-red
{
  --title-background-color: var(--bs-red);
}

.container-style.title-background-color-orange
{
  --title-background-color: var(--bs-orange)
}

.container-style.title-background-color-yellow
{
  --title-background-color: var(--bs-yellow)
}

.container-style.title-background-color-green
{
  --title-background-color: var(--bs-green)
}

.container-style.title-background-color-teal
{
  --title-background-color: var(--bs-teal)
}

.container-style.title-background-color-cyan
{
  --title-background-color: var(--bs-cyan)
}

.container-style.title-background-color-white
{
  --title-background-color: var(--bs-white)
}

.container-style.title-background-color-gray
{
  --title-background-color: var(--bs-gray)
}

.container-style.title-background-color-gray-dark
{
  --title-background-color: var(--bs-gray-dark)
}

.container-style.title-background-color-primary
{
    /* title: ● primary */
  --title-background-color: var(--bs-primary)
}

.container-style.title-background-color-secondary
{
    /* title: ● secondary */
  --title-background-color: var(--bs-secondary)
}

.container-style.title-background-color-success
{
    /* title: ● success */
  --title-background-color: var(--bs-success)
}

.container-style.title-background-color-info
{
    /* title: ● info */
  --title-background-color: var(--bs-info)
}

.container-style.title-background-color-warning
{
    /* title: ● warning */
  --title-background-color: var(--bs-warning)
}

.container-style.title-background-color-danger
{
    /* title: ● danger */
  --title-background-color: var(--bs-danger)
}

.container-style.title-background-color-light
{
    /* title: ● light */
  --title-background-color: var(--bs-light)
}

.container-style.title-background-color-dark
{
    /* title: ● dark */
  --title-background-color: var(--bs-dark)
}


/* content alignment container style values */
.container-style.content-alignment-left
{
  --content-alignment: left;
}

.container-style.content-alignment-center
{
  --content-alignment: center;
}

.container-style.content-alignment-right
{
  --content-alignment: right;
}

/* container style values for the content-color @property (uses bootstrap colors) */
.container-style.content-color-blue
{
  --content-color: var(--bs-blue);
}

.container-style.content-color-indigo
{
  --content-color: var(--bs-indigo);
}

.container-style.content-color-purple
{
  --content-color: var(--bs-purple);
}

.container-style.content-color-pink
{
  --content-color: var(--bs-pink);
}

.container-style.content-color-red
{
  --content-color: var(--bs-red);
}

.container-style.content-color-orange
{
  --content-color: var(--bs-orange)
}

.container-style.content-color-yellow
{
  --content-color: var(--bs-yellow)
}

.container-style.content-color-green
{
  --content-color: var(--bs-green)
}

.container-style.content-color-teal
{
  --content-color: var(--bs-teal)
}

.container-style.content-color-cyan
{
  --content-color: var(--bs-cyan)
}

.container-style.content-color-white
{
  --content-color: var(--bs-white)
}

.container-style.content-color-gray
{
  --content-color: var(--bs-gray)
}

.container-style.content-color-gray-dark
{
  --content-color: var(--bs-gray-dark)
}

.container-style.content-color-primary
{
    /* title: ● primary */
  --content-color: var(--bs-primary)
}

.container-style.content-color-secondary
{
    /* title: ● secondary */
  --content-color: var(--bs-secondary)
}

.container-style.content-color-success
{
    /* title: ● success */
  --content-color: var(--bs-success)
}

.container-style.content-color-info
{
    /* title: ● info */
  --content-color: var(--bs-info)
}

.container-style.content-color-warning
{
    /* title: ● warning */
  --content-color: var(--bs-warning)
}

.container-style.content-color-danger
{
    /* title: ● danger */
  --content-color: var(--bs-danger)
}

.container-style.content-color-light
{
    /* title: ● light */
  --content-color: var(--bs-light)
}

.container-style.content-color-dark
{
    /* title: ● dark */
  --content-color: var(--bs-dark)
}

/* container style values for the content-background-color @property (uses bootstrap colors) */
.container-style.content-background-color-blue
{
  --content-background-color: var(--bs-blue);
}

.container-style.content-background-color-indigo
{
  --content-background-color: var(--bs-indigo);
}

.container-style.content-background-color-purple
{
  --content-background-color: var(--bs-purple);
}

.container-style.content-background-color-pink
{
  --content-background-color: var(--bs-pink);
}

.container-style.content-background-color-red
{
  --content-background-color: var(--bs-red);
}

.container-style.content-background-color-orange
{
  --content-background-color: var(--bs-orange)
}

.container-style.content-background-color-yellow
{
  --content-background-color: var(--bs-yellow)
}

.container-style.content-background-color-green
{
  --content-background-color: var(--bs-green)
}

.container-style.content-background-color-teal
{
  --content-background-color: var(--bs-teal)
}

.container-style.content-background-color-cyan
{
  --content-background-color: var(--bs-cyan)
}

.container-style.content-background-color-white
{
  --content-background-color: var(--bs-white)
}

.container-style.content-background-color-gray
{
  --content-background-color: var(--bs-gray)
}

.container-style.content-background-color-gray-dark
{
  --content-background-color: var(--bs-gray-dark)
}

.container-style.content-background-color-primary
{
    /* title: ● primary */
  --content-background-color: var(--bs-primary)
}

.container-style.content-background-color-secondary
{
    /* title: ● secondary */
  --content-background-color: var(--bs-secondary)
}

.container-style.content-background-color-success
{
    /* title: ● success */
  --content-background-color: var(--bs-success)
}

.container-style.content-background-color-info
{
    /* title: ● info */
  --content-background-color: var(--bs-info)
}

.container-style.content-background-color-warning
{
    /* title: ● warning */
  --content-background-color: var(--bs-warning)
}

.container-style.content-background-color-danger
{
    /* title: ● danger */
  --content-background-color: var(--bs-danger)
}

.container-style.content-background-color-light
{
    /* title: ● light */
  --content-background-color: var(--bs-light)
}

.container-style.content-background-color-dark
{
    /* title: ● dark */
  --content-background-color: var(--bs-dark)
}

/* content padding container style values for the @content-padding @property */
.container-style.content-padding-1
{
  /* title: Smallest */
  --content-padding: var(--size-1);
}

.container-style.content-padding-2
{
  /* title: Small */
  --content-padding: var(--size-2);
}

.container-style.content-padding-3
{
  /* title: Medium */
  --content-padding: var(--size-3);
}

.container-style.content-padding-4
{
  /* title: Large */
  --content-padding: var(--size-4);
}

.container-style.content-padding-5
{
  /* title: Thick */
  --content-padding: var(--size-5);
}

/* content margin container style values for the @content-margin @property */
.container-style.content-margin-auto
{
  /* title: Automatic (centered) */
  --content-margin: auto;
}

.container-style.content-margin-none
{
  /* title: None */
  --content-margin: 0;
}

.container-style.content-margin-1
{
  /* title: Smallest */
  --content-margin: var(--size-1);
}

.container-style.content-margin-2
{
  /* title: Small */
  --content-margin: var(--size-2);
}

.container-style.content-margin-3
{
  /* title: Medium */
  --content-margin: var(--size-3);
}

.container-style.content-margin-4
{
  /* title: Large */
  --content-margin: var(--size-4);
}

.container-style.content-margin-5
{
  /* title: Thick */
  --content-margin: var(--size-5);
}


/* container alignments container style values for the container-alignment @property */
.container-style.container-alignment-left
{
  --container-alignment: left;
}

.container-style.container-alignment-center
{
  --container-alignment: center;
}

.container-style.container-alignment-right
{
  --container-alignment: right;
}


/* background color container style values for the container-background-color @property (uses bootstrap colors) */
.container-style.container-background-color-blue
{
  --container-background-color: var(--bs-blue);
}

.container-style.container-background-color-indigo
{
  --container-background-color: var(--bs-indigo);
}

.container-style.container-background-color-purple
{
  --container-background-color: var(--bs-purple);
}

.container-style.container-background-color-pink
{
  --container-background-color: var(--bs-pink);
}

.container-style.container-background-color-red
{
  --container-background-color: var(--bs-red);
}

.container-style.container-background-color-orange
{
  --container-background-color: var(--bs-orange)
}

.container-style.container-background-color-yellow
{
  --container-background-color: var(--bs-yellow)
}

.container-style.container-background-color-green
{
  --container-background-color: var(--bs-green)
}

.container-style.container-background-color-teal
{
  --container-background-color: var(--bs-teal)
}

.container-style.container-background-color-cyan
{
  --container-background-color: var(--bs-cyan)
}

.container-style.container-background-color-white
{
  --container-background-color: var(--bs-white)
}

.container-style.container-background-color-gray
{
  --container-background-color: var(--bs-gray)
}

.container-style.container-background-color-gray-dark
{
  --container-background-color: var(--bs-gray-dark)
}

.container-style.container-background-color-primary
{
  /* title: ● primary */
  --container-background-color: var(--bs-primary)
}

.container-style.container-background-color-secondary
{
  /* title: ● secondary */
  --container-background-color: var(--bs-secondary)
}

.container-style.container-background-color-success
{
  /* title: ● success */
  --container-background-color: var(--bs-success)
}

.container-style.container-background-color-info
{
  /* title: ● info */
  --container-background-color: var(--bs-info)
}

.container-style.container-background-color-warning
{
  /* title: ● warning */
  --container-background-color: var(--bs-warning)
}

.container-style.container-background-color-danger
{
  /* title: ● danger */
  --container-background-color: var(--bs-danger)
}

.container-style.container-background-color-light
{
  /* title: ● light */
  --container-background-color: var(--bs-light)
}

.container-style.container-background-color-dark
{
  /* title: ● dark */
  --container-background-color: var(--bs-dark)
}

/* text color container style values for the container-text-color @property (uses bootstrap colors) */
.container-style.container-text-color-blue
{
  --container-text-color: var(--bs-blue);
}

.container-style.container-text-color-indigo
{
  --container-text-color: var(--bs-indigo);
}

.container-style.container-text-color-purple
{
  --container-text-color: var(--bs-purple);
}

.container-style.container-text-color-pink
{
  --container-text-color: var(--bs-pink);
}

.container-style.container-text-color-red
{
  --container-text-color: var(--bs-red);
}

.container-style.container-text-color-orange
{
  --container-text-color: var(--bs-orange)
}

.container-style.container-text-color-yellow
{
  --container-text-color: var(--bs-yellow)
}

.container-style.container-text-color-green
{
  --container-text-color: var(--bs-green)
}

.container-style.container-text-color-teal
{
  --container-text-color: var(--bs-teal)
}

.container-style.container-text-color-cyan
{
  --container-text-color: var(--bs-cyan)
}

.container-style.container-text-color-white
{
  --container-text-color: var(--bs-white)
}

.container-style.container-text-color-gray
{
  --container-text-color: var(--bs-gray)
}

.container-style.container-text-color-gray-dark
{
  --container-text-color: var(--bs-gray-dark)
}

.container-style.container-text-color-primary
{
  /* title: ● primary */
  --container-text-color: var(--bs-primary)
}

.container-style.container-text-color-secondary
{
  /* title: ● secondary */
  --container-text-color: var(--bs-secondary)
}

.container-style.container-text-color-success
{
  /* title: ● success */
  --container-text-color: var(--bs-success)
}

.container-style.container-text-color-info
{
  /* title: ● info */
  --container-text-color: var(--bs-info)
}

.container-style.container-text-color-warning
{
  /* title: ● warning */
  --container-text-color: var(--bs-warning)
}

.container-style.container-text-color-danger
{
  /* title: ● danger */
  --container-text-color: var(--bs-danger)
}

.container-style.container-text-color-light
{
  /* title: ● light */
  --container-text-color: var(--bs-light)
}

.container-style.container-text-color-dark
{
  /* title: ● dark */
  --container-text-color: var(--bs-dark)
}

/* container padding container style values for the @container-padding @property */
.container-style.container-padding-1
{
  /* title: Smallest */
  --container-padding: var(--size-1);
}

.container-style.container-padding-2
{
  /* title: Small */
  --container-padding: var(--size-2);
}

.container-style.container-padding-3
{
  /* title: Medium */
  --container-padding: var(--size-3);
}

.container-style.container-padding-4
{
  /* title: Large */
  --container-padding: var(--size-4);
}

.container-style.container-padding-5
{
  /* title: Thick */
  --container-padding: var(--size-5);
}

/* container margin container style values for the @container-margin @property */
.container-style.container-margin-auto
{
  /* title: Automatic (centered) */
  --container-margin: auto;
}

.container-style.container-margin-none
{
  /* title: None */
  --container-margin: 0;
}

.container-style.container-margin-1
{
  /* title: Smallest */
  --container-margin: var(--size-1);
}

.container-style.container-margin-2
{
  /* title: Small */
  --container-margin: var(--size-2);
}

.container-style.container-margin-3
{
  /* title: Medium */
  --container-margin: var(--size-3);
}

.container-style.container-margin-4
{
  /* title: Large */
  --container-margin: var(--size-4);
}

.container-style.container-margin-5
{
  /* title: Thick */
  --container-margin: var(--size-5);
}
