.nucleus-container
{
  --size-1: 1px;
  --size-2: 0.25rem;
  --size-3: 0.5rem;
  --size-4: 1rem;
  --size-5: 2rem;
}

/* properties which define container styles  */
@property --container-alignment
{
  /* title: Alignment */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "left | center | right | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --container-text-color
{
  /* title: Text Color */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --container-background-color
{
  /* title: Background Color */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --container-padding
{
  /* title: Padding */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --container-margin
{
  /* title: Margin */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --container-border-size
{
  /* title: Border Size */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@property --container-border-color
{
  /* title: Border Color */
  /* group: Container */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --container-border-style
{
  /* title: Border Style */
  /* group: Container */
  /* preserveOrder: true */
  syntax: "none | dotted | dashed | solid | double | groove | ridge | inset | outset ";
  inherits: true;
  initial-value: none;
}

@property --title-alignment
{
  /* title: Alignment */
  /* group: Title */
  /* preserveOrder: true */
  syntax: "left | center | right | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --title-color
{
  /* title: Text Color */
  /* group: Title */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --title-background-color
{
  /* title: Background Color */
  /* group: Title */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --title-padding
{
  /* title: Padding */
  /* group: Title */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --title-margin
{
  /* title: Margin */
  /* group: Title */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --content-alignment
{
  /* title: Alignment */
  /* group: Content */
  /* preserveOrder: true */
  syntax: "left | center | right | justify | match-parent";
  inherits: true;
  initial-value: match-parent;
}

@property --content-color
{
  /* title: Text Color */
  /* group: Content */
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --content-background-color
{
  /* title: Background Color */
  /* group: Content */
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --content-padding
{
  /* title: Padding */
  /* group: Content */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

@property --content-margin
{
  /* title: Margin */
  /* group: Content */
  /* preserveOrder: true */
  syntax: "*";
  inherits: true;
  initial-value: 0;
}

/* implementations */
.nucleus-container
{
  text-align: var(--container-alignment);
  color: var(--container-text-color);
  background-color: var(--container-background-color);
  padding: var(--container-padding);
  margin: var(--container-margin);
  border: var(--container-border-style) var(--container-border-size) var(--container-border-color);
}

.nucleus-container .title, .nucleus-container > h1, .nucleus-container > h2, .nucleus-container > h3, .nucleus-container > h4, .nucleus-container > h5, .nucleus-container > h6
{
  text-align: var(--title-alignment);
  color: var(--title-color);
  background-color: var(--title-background-color);
  padding: var(--title-padding);
  margin: var(--title-margin);
}

.nucleus-container > section
{
  text-align: var(--content-alignment);
  color: var(--content-color);
  background-color: var(--content-background-color);
  padding: var(--content-padding);
  margin: var(--content-margin);
}

.nucleus-container.flex-column
{
  display: flex;
	flex-direction: column;	
	flex-grow: 1;
}

.nucleus-container.flex-row
{
  display: flex;
	flex-direction: row;	
	flex-grow: 1;
}

/* title alignments container style values for the title-alignment @property */
.nucleus-container.title-alignment-left
{
  --title-alignment: left;
}

.nucleus-container.title-alignment-center
{
  --title-alignment: center;
}

.nucleus-container.title-alignment-right
{
  --title-alignment: right;
}

/* title padding container style values for the @title-padding @property */
.nucleus-container.title-padding-1
{
  /* title: Smallest */
  --title-padding: var(--size-1);
}

.nucleus-container.title-padding-2
{
  /* title: Small */
  --title-padding: var(--size-2);
}

.nucleus-container.title-padding-3
{
  /* title: Medium */
  --title-padding: var(--size-3);
}

.nucleus-container.title-padding-4
{
  /* title: Large */
  --title-padding: var(--size-4);
}

.nucleus-container.title-padding-5
{
  /* title: Thick */
  --title-padding: var(--size-5);
}

/* title margin container style values for the @title-margin @property */
.nucleus-container.title-margin-auto
{
  /* title: Automatic (centered) */
  --title-margin: auto;
}

.nucleus-container.title-margin-none
{
  /* title: None */
  --title-margin: 0;
}

.nucleus-container.title-margin-1
{
  /* title: Smallest */
  --title-margin: var(--size-1);
}

.nucleus-container.title-margin-2
{
  /* title: Small */
  --title-margin: var(--size-2);
}

.nucleus-container.title-margin-3
{
  /* title: Medium */
  --title-margin: var(--size-3);
}

.nucleus-container.title-margin-4
{
  /* title: Large */
  --title-margin: var(--size-4);
}

.nucleus-container.title-margin-5
{
  /* title: Thick */
  --title-margin: var(--size-5);
}


/* border style container style values  */
.nucleus-container.container-border-style-none
{
  --container-border-style: none;
}

.nucleus-container.container-border-style-dotted
{
  --container-border-style: dotted;
}

.nucleus-container.container-border-style-dashed
{
  --container-border-style: dashed;
}

.nucleus-container.container-border-style-solid
{
  --container-border-style: solid;
}

.nucleus-container.container-border-style-double
{
  --container-border-style: double;
}

.nucleus-container.container-border-style-groove
{
  --container-border-style: groove;
}

.nucleus-container.container-border-style-ridge
{
  --container-border-style: ridge;
}

.nucleus-container.container-border-style-inset
{
  --container-border-style: inset;
}

.nucleus-container.container-border-style-outset
{
  --container-border-style: outset;
}

/* border size container style values for the @container-border-size @property */
.nucleus-container.container-border-size-1
{
  /* title: Smallest */
  --container-border-size: var(--size-1);
}

.nucleus-container.container-border-size-2
{
  /* title: Small */
  --container-border-size: var(--size-2);
}

.nucleus-container.container-border-size-3
{
  /* title: Medium */
  --container-border-size: var(--size-3);
}

.nucleus-container.container-border-size-4
{
  /* title: Large */
  --container-border-size: var(--size-4);
}

.nucleus-container.container-border-size-5
{
  /* title: Thick */
  --container-border-size: var(--size-5);
}

/* border color container style values for the container-border-color @property (uses bootstrap colors) */
.nucleus-container.container-border-color-blue
{
  --container-border-color: var(--bs-blue);
}

.nucleus-container.container-border-color-red
{
  --container-border-color: var(--bs-red);
}

.nucleus-container.container-border-color-orange
{
  --container-border-color: var(--bs-orange)
}

.nucleus-container.container-border-color-yellow
{
  --container-border-color: var(--bs-yellow)
}

.nucleus-container.container-border-color-green
{
  --container-border-color: var(--bs-green)
}

.nucleus-container.container-border-color-teal
{
  --container-border-color: var(--bs-teal)
}

.nucleus-container.container-border-color-cyan
{
  --container-border-color: var(--bs-cyan)
}

.nucleus-container.container-border-color-white
{
  --container-border-color: var(--bs-white)
}

.nucleus-container.container-border-color-gray
{
  --container-border-color: var(--bs-gray)
}

.nucleus-container.container-border-color-gray-dark
{
  --container-border-color: var(--bs-gray-dark)
}

/* container style values for the title-color @property (uses bootstrap colors) */
.nucleus-container.title-color-blue
{
  --title-color: var(--bs-blue);
}

.nucleus-container.title-color-red
{
  --title-color: var(--bs-red);
}

.nucleus-container.title-color-orange
{
  --title-color: var(--bs-orange)
}

.nucleus-container.title-color-yellow
{
  --title-color: var(--bs-yellow)
}

.nucleus-container.title-color-green
{
  --title-color: var(--bs-green)
}

.nucleus-container.title-color-teal
{
  --title-color: var(--bs-teal)
}

.nucleus-container.title-color-cyan
{
  --title-color: var(--bs-cyan)
}

.nucleus-container.title-color-white
{
  --title-color: var(--bs-white)
}

.nucleus-container.title-color-gray
{
  --title-color: var(--bs-gray)
}

.nucleus-container.title-color-gray-dark
{
  --title-color: var(--bs-gray-dark)
}

/* container style values for the title-background-color @property (uses bootstrap colors) */
.nucleus-container.title-background-color-blue
{
  --title-background-color: var(--bs-blue);
}

.nucleus-container.title-background-color-red
{
  --title-background-color: var(--bs-red);
}

.nucleus-container.title-background-color-orange
{
  --title-background-color: var(--bs-orange)
}

.nucleus-container.title-background-color-yellow
{
  --title-background-color: var(--bs-yellow)
}

.nucleus-container.title-background-color-green
{
  --title-background-color: var(--bs-green)
}

.nucleus-container.title-background-color-teal
{
  --title-background-color: var(--bs-teal)
}

.nucleus-container.title-background-color-cyan
{
  --title-background-color: var(--bs-cyan)
}

.nucleus-container.title-background-color-white
{
  --title-background-color: var(--bs-white)
}

.nucleus-container.title-background-color-gray
{
  --title-background-color: var(--bs-gray)
}

.nucleus-container.title-background-color-gray-dark
{
  --title-background-color: var(--bs-gray-dark)
}

/* content alignment container style values */
.nucleus-container.content-alignment-left
{
  --content-alignment: left;
}

.nucleus-container.content-alignment-center
{
  --content-alignment: center;
}

.nucleus-container.content-alignment-right
{
  --content-alignment: right;
}

.nucleus-container.content-alignment-justify
{
  --content-alignment: justify;
}

/* container style values for the content-color @property (uses bootstrap colors) */
.nucleus-container.content-color-blue
{
  --content-color: var(--bs-blue);
}

.nucleus-container.content-color-red
{
  --content-color: var(--bs-red);
}

.nucleus-container.content-color-orange
{
  --content-color: var(--bs-orange)
}

.nucleus-container.content-color-yellow
{
  --content-color: var(--bs-yellow)
}

.nucleus-container.content-color-green
{
  --content-color: var(--bs-green)
}

.nucleus-container.content-color-teal
{
  --content-color: var(--bs-teal)
}

.nucleus-container.content-color-cyan
{
  --content-color: var(--bs-cyan)
}

.nucleus-container.content-color-white
{
  --content-color: var(--bs-white)
}

.nucleus-container.content-color-gray
{
  --content-color: var(--bs-gray)
}

.nucleus-container.content-color-gray-dark
{
  --content-color: var(--bs-gray-dark)
}

/* container style values for the content-background-color @property (uses bootstrap colors) */
.nucleus-container.content-background-color-blue
{
  --content-background-color: var(--bs-blue);
}

.nucleus-container.content-background-color-red
{
  --content-background-color: var(--bs-red);
}

.nucleus-container.content-background-color-orange
{
  --content-background-color: var(--bs-orange)
}

.nucleus-container.content-background-color-yellow
{
  --content-background-color: var(--bs-yellow)
}

.nucleus-container.content-background-color-green
{
  --content-background-color: var(--bs-green)
}

.nucleus-container.content-background-color-teal
{
  --content-background-color: var(--bs-teal)
}

.nucleus-container.content-background-color-cyan
{
  --content-background-color: var(--bs-cyan)
}

.nucleus-container.content-background-color-white
{
  --content-background-color: var(--bs-white)
}

.nucleus-container.content-background-color-gray
{
  --content-background-color: var(--bs-gray)
}

.nucleus-container.content-background-color-gray-dark
{
  --content-background-color: var(--bs-gray-dark)
}

/* content padding container style values for the @content-padding @property */
.nucleus-container.content-padding-1
{
  /* title: Smallest */
  --content-padding: var(--size-1);
}

.nucleus-container.content-padding-2
{
  /* title: Small */
  --content-padding: var(--size-2);
}

.nucleus-container.content-padding-3
{
  /* title: Medium */
  --content-padding: var(--size-3);
}

.nucleus-container.content-padding-4
{
  /* title: Large */
  --content-padding: var(--size-4);
}

.nucleus-container.content-padding-5
{
  /* title: Thick */
  --content-padding: var(--size-5);
}

/* content margin container style values for the @content-margin @property */
.nucleus-container.content-margin-auto
{
  /* title: Automatic (centered) */
  --content-margin: auto;
}

.nucleus-container.content-margin-none
{
  /* title: None */
  --content-margin: 0;
}

.nucleus-container.content-margin-1
{
  /* title: Smallest */
  --content-margin: var(--size-1);
}

.nucleus-container.content-margin-2
{
  /* title: Small */
  --content-margin: var(--size-2);
}

.nucleus-container.content-margin-3
{
  /* title: Medium */
  --content-margin: var(--size-3);
}

.nucleus-container.content-margin-4
{
  /* title: Large */
  --content-margin: var(--size-4);
}

.nucleus-container.content-margin-5
{
  /* title: Thick */
  --content-margin: var(--size-5);
}


/* container alignments container style values for the container-alignment @property */
.nucleus-container.container-alignment-left
{
  --container-alignment: left;
}

.nucleus-container.container-alignment-center
{
  --container-alignment: center;
}

.nucleus-container.container-alignment-right
{
  --container-alignment: right;
}


/* background color container style values for the container-background-color @property (uses bootstrap colors) */
.nucleus-container.container-background-color-blue
{
  --container-background-color: var(--bs-blue);
}

.nucleus-container.container-background-color-red
{
  --container-background-color: var(--bs-red);
}

.nucleus-container.container-background-color-orange
{
  --container-background-color: var(--bs-orange)
}

.nucleus-container.container-background-color-yellow
{
  --container-background-color: var(--bs-yellow)
}

.nucleus-container.container-background-color-green
{
  --container-background-color: var(--bs-green)
}

.nucleus-container.container-background-color-teal
{
  --container-background-color: var(--bs-teal)
}

.nucleus-container.container-background-color-cyan
{
  --container-background-color: var(--bs-cyan)
}

.nucleus-container.container-background-color-white
{
  --container-background-color: var(--bs-white)
}

.nucleus-container.container-background-color-gray
{
  --container-background-color: var(--bs-gray)
}

.nucleus-container.container-background-color-gray-dark
{
  --container-background-color: var(--bs-gray-dark)
}

/* text color container style values for the container-text-color @property (uses bootstrap colors) */
.nucleus-container.container-text-color-blue
{
  --container-text-color: var(--bs-blue);
}

.nucleus-container.container-text-color-red
{
  --container-text-color: var(--bs-red);
}

.nucleus-container.container-text-color-orange
{
  --container-text-color: var(--bs-orange)
}

.nucleus-container.container-text-color-yellow
{
  --container-text-color: var(--bs-yellow)
}

.nucleus-container.container-text-color-green
{
  --container-text-color: var(--bs-green)
}

.nucleus-container.container-text-color-teal
{
  --container-text-color: var(--bs-teal)
}

.nucleus-container.container-text-color-cyan
{
  --container-text-color: var(--bs-cyan)
}

.nucleus-container.container-text-color-white
{
  --container-text-color: var(--bs-white)
}

.nucleus-container.container-text-color-gray
{
  --container-text-color: var(--bs-gray)
}

.nucleus-container.container-text-color-gray-dark
{
  --container-text-color: var(--bs-gray-dark)
}

/* container padding container style values for the @container-padding @property */
.nucleus-container.container-padding-1
{
  /* title: Smallest */
  --container-padding: var(--size-1);
}

.nucleus-container.container-padding-2
{
  /* title: Small */
  --container-padding: var(--size-2);
}

.nucleus-container.container-padding-3
{
  /* title: Medium */
  --container-padding: var(--size-3);
}

.nucleus-container.container-padding-4
{
  /* title: Large */
  --container-padding: var(--size-4);
}

.nucleus-container.container-padding-5
{
  /* title: Thick */
  --container-padding: var(--size-5);
}

/* container margin container style values for the @container-margin @property */
.nucleus-container.container-margin-auto
{
  /* title: Automatic (centered) */
  --container-margin: auto;
}

.nucleus-container.container-margin-none
{
  /* title: None */
  --container-margin: 0;
}

.nucleus-container.container-margin-1
{
  /* title: Smallest */
  --container-margin: var(--size-1);
}

.nucleus-container.container-margin-2
{
  /* title: Small */
  --container-margin: var(--size-2);
}

.nucleus-container.container-margin-3
{
  /* title: Medium */
  --container-margin: var(--size-3);
}

.nucleus-container.container-margin-4
{
  /* title: Large */
  --container-margin: var(--size-4);
}

.nucleus-container.container-margin-5
{
  /* title: Thick */
  --container-margin: var(--size-5);
}
