@model Nucleus.Abstractions.Layout.ContainerContext
@Html.AddStyle("~/Shared/Layouts/layout-styles.css")
@Html.AddStyle("~!/default.css")
<div class="container-default flex-column" container-styles="true" suppress-empty="true">
  @Html.ModuleTitle()
	@Model.Content
</div>
