@model Nucleus.Abstractions.Layout.ContainerContext
@Html.AddStyle("~!/default.css")
<div class="container-default">
	@if (!String.IsNullOrEmpty(Model.Module.Title))
	{
		<h2>@Model.Module.Title</h2>
	}
	@Model.Content
</div>
