.trumbowyg button
{
	background-color: transparent!important;
	border-radius: inherit!important;
}

.trumbowyg-box, .trumbowyg-editor, .trumbowyg-textarea
{
	height: auto!important;
	min-height: auto;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.trumbowyg-editor
{
	background-color: white;
	padding: 4px;
	height: auto;
}

.trumbowyg-editor p
{
	margin: 0;
}
