@model List<Nucleus.Abstractions.Models.Page>
@using Nucleus.Extensions
@if (!Model.Any())
{
  <div class="ms-2">Not in use.</div> 
}
else
{
  <ul class="component-pages-list ms-2">
    @foreach(var pageInfo in Model)
    {
      <li><a href="@Url.PageLink(pageInfo)">@(String.IsNullOrEmpty(pageInfo.Name) ? "No Title" : pageInfo.Name)</a></li>
    }
  </ul>
}