@model Nucleus.Modules.ErrorReport.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<h2 class="nucleus-modal-caption">Error Report Settings</h2>
<div class="alert alert-secondary">
	This module has no settings.
</div>
