.files-list.file-tiles
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	row-gap: var(--nucleus-default-gap-vertical);
  column-gap: var(--nucleus-default-gap-horizontal);
}

.files-list.file-tiles > div
{
	padding: var(--nucleus-default-gap-vertical) var(--nucleus-default-gap-horizontal);
	border: solid 1px var(--nucleus-default-border-color);
}

.files-list.file-tiles .file-name
{
	font-weight: bold;
	font-size: var(--font-size-large);
}

.files-list li .file-modified-date::before, .files-list li .file-size::before
{
  content: '- ';
}

.files-list LI .file-dimensions::before, .files-list.file-tiles .file-dimensions::before
{
  content: '(';
}

.files-list LI .file-dimensions::after, .files-list.file-tiles .file-dimensions::after
{
  content: 'px)';
}

.files-list TD.file-dimensions::after
{
  content: 'px';
}