.XmlDocumentation 
{
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.XmlDocumentation .api-wrapper
{
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	overflow: auto;
}

.XmlDocumentation .api-content
{
	margin-top: 0.5rem;
	margin-left: 0.25rem;
}

.XmlDocumentation .api-content h2
{
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.XmlDocumentation .api-content h2:not(:first-child)
{
	margin-top: 1rem;
}

.XmlDocumentation .api-content h3
{
	font-size: 1.1rem;
	margin-top: 1rem;	
	margin-bottom: 1rem;	
}

.XmlDocumentation .api-content .alert h3
{
	font-size: 1rem;
	margin-top: inherit;
	margin-bottom: 0.25rem;
}

.XmlDocumentation .api-content h4
{
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.XmlDocumentation .api-content h5
{
	font-size: 0.9rem;
	margin-top: 1rem;
}

.XmlDocumentation .api-content h6
{
	font-size: 0.8rem;
	margin-top: 1rem;
}

.XmlDocumentation .api-menu
{
	overflow: auto;
	margin-bottom: 1rem;
	box-shadow: 2px 2px 6px #bbb;	
}

.XmlDocumentation .api-menu ul
{
	/*margin-top: 1rem;*/
	padding-left: 0;
}

.XmlDocumentation .api-menu li
{
	list-style-type: none;
}

.XmlDocumentation .api-menu .list-group >  a
{
	display: inline-block;
	padding: 0.6rem 1rem;
	font-weight: bold;
	text-decoration: none;
	color: #0c63e4;
}

.XmlDocumentation .api-content
{
	flex-grow: 5;
	flex-shrink: 3;
	overflow: auto;
}

.XmlDocumentation .api-class
{
	margin-right: 0.5rem;
}

.XmlDocumentation .api-member
{
	margin: 1rem;
	border-bottom: solid 1px #eee;
}


.XmlDocumentation .api-content pre.code
{
	font-size: .875em;
	word-wrap: break-word;
	font-family: Cascadia Mono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	direction: ltr;
	unicode-bidi: bidi-override;
}

.XmlDocumentation .api-content code
{
	background-color: #F0F0F0;	
}

.XmlDocumentation .api-content pre.code
{
	background-color: #F0F0F0;
}

.XmlDocumentation .api-content code, .XmlDocumentation .api-content pre.code
{
	padding: 1.2em;
	white-space: pre-wrap;
	display: block;	
}

.XmlDocumentation .api-parameters table tr td:first-child, .XmlDocumentation .api-typeparameters table tr td:first-child
{
	padding: 4px 8px;
	min-width: 10em;
	word-break: break-all;
}

.XmlDocumentation .api-parameters table tr td:last-child, .XmlDocumentation .api-typeparameters table tr td:last-child
{
	min-width: 50%;
}

.XmlDocumentation .api-methods h3
{
	padding-bottom: 1rem;	
	border-bottom: 1px solid #ddd;
}

.XmlDocumentation .api-class h5
{
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	padding-right: 12px;
}

.XmlDocumentation .api-constructors, .XmlDocumentation .api-properties, .XmlDocumentation .api-fields, .XmlDocumentation .api-events, 
.XmlDocumentation .api-methods, .XmlDocumentation .api-summary, .XmlDocumentation .api-remarks, .XmlDocumentation .api-examples
{
	margin-top: 1rem;
	margin-bottom: 1rem;
  position: relative;
}

.XmlDocumentation .nucleus-copy-button
{
	position: absolute;
	right: 1rem;
	top: 0.25rem;
}