<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>Publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>387821b9-3bd3-4d1f-ae73-b1595a80ad48</ProjectGuid>
    <SelfContained>false</SelfContained>
    <IsWebConfigTransformDisabled>true</IsWebConfigTransformDisabled>
    <DebugType>none</DebugType>
    <AllowedReferenceRelatedFileExtensions>*.pdb</AllowedReferenceRelatedFileExtensions>
    <Nucleus_PublishType>Install</Nucleus_PublishType>
  </PropertyGroup>

  <ItemGroup>
    <Content Remove="**\*.Development.json" />
    <Content Remove="**\*.pdb" />
    <Content Remove="**\bin\**\*.xml" />
    <Content Remove="Setup\install-log.config" />
  </ItemGroup>

  <Import Label="SharedPublishTargets" Project="_shared-publish.targets" />
</Project>