<?xml version="1.0" encoding="utf-8"?>
<!--<Project Sdk="Microsoft.NET.Sdk.Web">
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">-->
<Project>
  <PropertyGroup>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>Publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>387821b9-3bd3-4d1f-ae73-b1595a80ad48</ProjectGuid>
    <SelfContained>false</SelfContained>
    <IsWebConfigTransformDisabled>true</IsWebConfigTransformDisabled>
    <DebugType>none</DebugType>
    <AllowedReferenceRelatedFileExtensions>*.pdb</AllowedReferenceRelatedFileExtensions>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <Content Remove="**\*.Development.json;databaseSettings.json;web.config;hosting.json" />
    <Content Remove="**\*.pdb" />
    <Content Remove="**\bin\**\*.xml" />
	  <Content Remove="Setup\install-log.config" />
  </ItemGroup>
  <!-- Remove config files from the upgrade set so that an upgrade doesn't overwrite user changes to them -->
  <Target Name="ClearConfigFiles" BeforeTargets="BeforePublish" Condition="'$(PublishUrl)' != ''">
    <ItemGroup>
      <ConfigFilesToDelete Include="$(PublishUrl)databaseSettings.json;$(PublishUrl)web.config;$(PublishUrl)hosting.json" />
    </ItemGroup>
    <Message Importance="High" text="ClearExistingFiles: @(ConfigFilesToDelete)" />
    <Delete Files="@(ConfigFilesToDelete)" ContinueOnError="false" />
  </Target>
	<Target Name="CompileExtensions" BeforeTargets="BeforePublish">
		<ItemGroup>
			<ExtensionProjects Include="..\Nucleus.Core.Modules\**\*.csproj" />
		</ItemGroup>
		<Message Importance="high" Text="Extension projects: @(ExtensionProjects)" />
		<MSBuild Projects="@(ExtensionProjects)" Properties="Configuration=Release"></MSBuild>
	</Target>
  <Target Name="CopyFiles" BeforeTargets="AfterPublish">
    <ItemGroup>
      <ResourceFiles Include="_ViewImports.cshtml;package.xsd;Areas\**\*.css;Views\**\*.css;Resources\**\*.*;Setup\Templates\**\*.*;Setup\Extensions\*.*;Shared\**\*.*" Exclude="**\*.psd;**\*.scc;databaseSettings.json;web.config;hosting.json;Setup\install-log.config" />
    </ItemGroup>
    <Copy SourceFiles="@(ResourceFiles)" DestinationFolder="$(PublishUrl)\%(RelativeDir)">
      <Output TaskParameter="CopiedFiles" ItemName="test" />
    </Copy>
  </Target>
  <Target Name="PostBuild" AfterTargets="CopyFiles">
    <GetAssemblyIdentity AssemblyFiles="$(TargetPath)">
      <Output TaskParameter="Assemblies" ItemName="CurrentAssembly" />
    </GetAssemblyIdentity>
    <PropertyGroup>
      <VersionNumber>%(CurrentAssembly.Version)</VersionNumber>
    </PropertyGroup>
    <message Importance="High" text="Publishing zip: $(SolutionDir)Publish\Nucleus.$(VersionNumber).zip" />
    <MakeDir Directories="$(SolutionDir)..\Publish\Release" />
    <ZipDirectory SourceDirectory="$(PublishUrl)" DestinationFile="$(SolutionDir)..\Publish\Release\Nucleus.$(VersionNumber).Upgrade.zip" Overwrite="true" />
  </Target>
</Project>