<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>Publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>387821b9-3bd3-4d1f-ae73-b1595a80ad48</ProjectGuid>
    <SelfContained>false</SelfContained>
    <IsWebConfigTransformDisabled>true</IsWebConfigTransformDisabled>
    <DebugType>none</DebugType>
    <AllowedReferenceRelatedFileExtensions>*.pdb</AllowedReferenceRelatedFileExtensions>
    <Nucleus_PublishType>Upgrade</Nucleus_PublishType>
  </PropertyGroup>
  
  <ItemGroup>
    <Content Remove="**\*.Development.json;**\*.Production.json;databaseSettings*.json;web.config;hosting*.json" />
    <Content Remove="**\*.pdb" />
    <Content Remove="**\bin\**\*.xml" />
    <Content Remove="Setup\install-log.config" />
  </ItemGroup>

  <!-- Remove config files from the upgrade set so that an upgrade doesn't overwrite user changes to them -->
  <Target Name="ClearConfigFiles" BeforeTargets="BeforePublish" Condition="'$(PublishUrl)' != ''">
    <ItemGroup>
      <ConfigFilesToDelete Include="$(PublishUrl)databaseSettings*.json;$(PublishUrl)*.Production.json;$(PublishUrl)web.config;$(PublishUrl)hosting*.json" />
    </ItemGroup>
    <Message Importance="High" text="ClearExistingFiles: @(ConfigFilesToDelete)" />
    <Delete Files="@(ConfigFilesToDelete)" ContinueOnError="false" />
  </Target>
  
  <Import Label="SharedPublishTargets" Project="_shared-publish.targets" />
  
</Project>