<?xml version="1.0" encoding="utf-8"?>
<Project>
  <Import Label="Nucleus_SharedPublishSettings" Project="_shared-publish-settings.targets" />
  
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <Nucleus_PublishType>Install</Nucleus_PublishType>
  </PropertyGroup>


  <Import Label="Nucleus_SharedPublishTargets" Project="_shared-publish.targets" />
</Project>