@model Nucleus.Web.ViewModels.Admin.PageModuleEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@if (!String.IsNullOrEmpty(Model.UseLayout))
{
	Layout = Model.UseLayout;
}
@if (!String.IsNullOrEmpty(Model.Module.ModuleDefinition.HelpUrl))
{
  <a class="nucleus-help-url" href="@Model.Module.ModuleDefinition.HelpUrl">&#xe887;</a>
}
@await Html.RenderEditorAsync(Model.Module, false)



