@model Nucleus.Modules.TextHtml.ViewModels.Viewer
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
<div class="nucleus-content" inline-edit-mode="Html" inline-edit-route="@Url.NucleusAction("UpdateContent", "TextHtml", "TextHtml", Model.Content == null ? new { } : new { id = Model.Content.Id } )">
@Html.Raw(Model.Content?.ToHtml())
</div>