@model Nucleus.Modules.TextHtml.ViewModels.Viewer
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Extensions
<section inline-edit-route="@Url.NucleusAction("UpdateContent", "TextHtml", "TextHtml", new { @id = Model.Content.Id } )">
@Html.Raw(Model.Content.ToHtml())
</section>