.dnn-migration, .dnn-migration form, .dnn-migration form > div
{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dnn-migration .nucleus-button-panel
{
  overflow: initial;
  align-items: flex-end;
}

.dnn-migration ol
{
  list-style-type: none;
  display: flex; 
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0 0 0;
}

.dnn-migration ol li a, .dnn-migration ol li button
{
  display: inline-block;
  width: 12rem;
  margin-right: 1.5rem;
}