.dnn-migration, .dnn-migration form, .dnn-migration form > div
{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dnn-migration form 
{
  padding: 0 0.25rem;
}

.dnn-migration .nucleus-button-panel
{
  overflow: initial;
  justify-content: end;
  flex-direction: row;
}

.dnn-migration .nucleus-button-panel > *
{
  margin-top: auto;
  margin-bottom: auto;
}

.dnn-migration ol
{
  list-style-type: none;
  display: flex; 
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0 0 0;
}

.dnn-migration ol li > div
{
  display: inline-block;
  width: 14rem;
}

.dnn-migration ol li a, .dnn-migration ol li button
{
  display: inline-block;
  width: 12rem;
}

.dnn-migration ol li button .nucleus-progress-spinner
{
  color: white!important;
}

.dnn-migration .validation-results
{
  margin: 0;
}

.dnn-migration .validation-results ul
{
  list-style-type: none;
}

.dnn-migration .glyph-Error::before
{
  font-family: 'Material Icons';
  content: '\e000';
  margin-right: 0.15rem;
}

.dnn-migration .glyph-Warning::before
{
  font-family: 'Material Icons';
  content: '\e645';
  margin-right: 0.15rem;
}