.dnn-migration, .dnn-migration form, .dnn-migration form > div:not(.nucleus-flex-fields)
{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dnn-migration form 
{
  padding: 0 0.25rem;
}

.dnn-migration .nucleus-flex-fields
{
  padding-top: 0.25rem;
}

.dnn-migration .nucleus-flex-fields > *
{
  margin-top: auto;
  margin-bottom: auto;
}

.dnn-migration .nucleus-flex-fields .nucleus-progress-spinner
{
  flex: initial;
}

.dnn-migration ol
{
  list-style-type: none;
  display: flex; 
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0 0 0;
}

.dnn-migration ol li
{
  display: flex;
  gap: 1rem;
}

.dnn-migration ol li > div:first-child
{
  width: 14rem;
}

.dnn-migration ol li > div:not(:first-child)
{
  flex: 1;
}

.dnn-migration ol li a, .dnn-migration ol li button
{
  display: inline-block;
  width: 12rem;
}

.dnn-migration ol li .action-remarks
{
  font-size: 0.85rem;
}

.dnn-migration ol li button .nucleus-progress-spinner
{
  color: white!important;
}

.dnn-migration .validation-results
{
  margin: 0;
}

.dnn-migration .validation-results td
{
  vertical-align: top;
}

.dnn-migration .validation-results ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dnn-migration .validation-results li
{
  display: flex;
}

.dnn-migration .validation-results td:first-child
{
  width: 30%;
}

.dnn-migration .glyph-Error, .dnn-migration .glyph-Warning, .dnn-migration .glyph-Success
{
  font-size: 0.85rem;
}

.dnn-migration .glyph-Error::before, .dnn-migration .glyph-Warning::before, .dnn-migration .glyph-Success::before
{
  font-family: 'Material Icons';
  margin-right: 0.15rem;
  
}

.dnn-migration .glyph-Error::before
{
  content: '\e000';
}

.dnn-migration .glyph-Warning::before
{
  content: '\e645';
}


.dnn-migration .glyph-Success::before
{
  content: '\e876';
}