@model Nucleus.Web.ViewModels.Admin.SiteGroupIndex
<h1 class="nucleus-control-panel-heading">Site Groups</h1>
<div class="nucleus-form-tools">
	<a href="@Url.Content("~/Admin/SiteGroups/Editor")" class="btn btn-secondary" data-target=".SiteGroupEditor">New Site Group</a>
</div>
<div class="nucleus-index-wrapper">
	<div class="nucleus-index-items">
		<ul>
			@foreach (var item in Model.SiteGroups)
			{
				<li><a href="@Url.Content("~/Admin/SiteGroups/Editor")?id=@item.Id" data-target=".SiteGroupEditor">@item.Name</a></li>
			}
		</ul>
	</div>

	<div class="SiteGroupEditor nucleus-editor-panel"></div>
</div>