@model Nucleus.Modules.Forums.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
<div class="ForumsSettings">
	<div class="Tools">
		<a href="@Url.NucleusAction("NewGroup", "ForumsAdmin", "Forums")" class="button" data-target=".GroupEditor">New Group</a>
	</div>

	<div class="IndexWrapper">
		<div class="ItemsList">
			<ul>
				@foreach (var item in Model.Groups)
				{
					<li><a href="@Url.NucleusAction("EditGroup", "ForumsAdmin", "Forums", new { id = item.Id })" data-target=".GroupEditor">@item.Name</a></li>
				}
			</ul>
		</div>

		<div class="GroupEditor EditorPanel"></div>
	</div>

	<div class="ForumEditor EditorPopup" data-overlay=".ForumEditorOverlay"></div>
	<div class="ForumEditorOverlay EditorOverlay"></div>
</div>
