@model Nucleus.OAuth.Client.ViewModels.Viewer
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.OAuth.Client.ViewModels
<div class="d-flex">
	<div class="d-flex">
		@if (!String.IsNullOrEmpty(@Model.Caption))
		{
			<label class="d-flex align-self-center me-1">@Model.Caption</label>
		}
		<select id="oauthclient-viewer-select">
			@foreach (var option in Model.Options)
			{
				<option value="@option.AuthenticateEndpoint(Url, Model.ReturnUrl)">@option.DisplayName()</option>
			}
		</select>	
		<button id="oauth-viewer-login" class="btn btn-primary ms-1" type="button">Log in</button>
	</div>
</div>
<script>
	jQuery(document).ready(function ()
	{
		jQuery('#oauth-viewer-login').on('click', function() 
		{
			document.location = jQuery('#oauthclient-viewer-select option:selected').prop('value');
		});
	});
</script>