@model Nucleus.OAuth.Client.ViewModels.Viewer
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.OAuth.Client.ViewModels
@if (!String.IsNullOrEmpty(@Model.Caption))
{
	<label>@Model.Caption</label>
}
<ul>
	@foreach (var option in Model.Options)
	{
		<li><a href="@option.AuthenticateEndpoint(Url, Model.ReturnUrl)">@option.DisplayName()</a></li>
	}
</ul>	
