.DocumentsSettings
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.DocumentsSettings .ShowColumns
{
	display: flex;
	gap: 2em;
}

.DocumentsSettings .ShowColumns label span
{
	min-width: 10em;
}

.DocumentsSettings .Message
{
	margin: auto 0 auto 2em;	
}