@model Nucleus.Extensions.Shadow.ViewModels.Viewer
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
<div class="alert alert-warning">
  This Shadow module is not configured.
</div>