@model Nucleus.Web.ViewModels.Admin.Extensions
<div class="ExtensionInstaller">
	<h1>Extension Installer</h1>

	@if (@Model.Messages.Count > 0)
	{
		<ul>
			@foreach (string message in Model.Messages)
			{
				<li>@message</li>
			}
		</ul>
	}
	else
	{
		<div>Installation Complete.</div>
	}
	<div class="nucleus-form-buttonrow">
		<a href="@Url.AreaAction("Index", "Extensions", "Admin")" class="btn btn-secondary" data-target=".nucleus-adminpage">Back</a>
	</div>
</div>