html, body, .nucleus-control-panel
{
	height: 100%;
}

body 
{
	width: 100%;
	margin: 0;
}

.nucleus-control-panel
{
	display: flex;	
	background: #444;	
}

.nucleus-control-panel-content-header
{
	position: sticky;
}

.nucleus-button-panel
{
	display: flex;
	gap: 8px;
	margin-top: 8px;
	margin-bottom: 4px;
}

.nucleus-adminpage .flex-fill
{
	display: flex;
	flex-basis: 100%;
	margin-right: 8px;
}

.nucleus-adminpage
{
	margin-top: 8px;
	height: calc(100% - 40px);	
	position: relative;	
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.nucleus-adminpage > form, .nucleus-adminpage .modal-body > form
{
	height: 100%;
	display: flex;
	flex-direction: column;
	/*overflow: auto;*/
	gap: 2px;
}

/*  default styles for elements within an admin page or popup settings editor */
#nucleus-control-panel-heading
{
	font-size: 20px;
	margin: 0 0 8px 0;
	display: inline-block;
}

.nucleus-admin-content h1, .nucleus-admin-content h2, .nucleus-admin-content h3
{
	margin: 0 0 6px 0;	
}

.nucleus-admin-content h1
{
	font-size: 24px;
	margin: 0 0 8px 0;
}

.nucleus-admin-content h2
{
	font-size: 16px;
}

.nucleus-admin-content h3
{
	font-size: 14px;	
}

/*.nucleus-admin-content fieldset h3
{
	margin-top: 2em;
}*/


.nucleus-admin-search
{
	position: absolute;
	max-width: 100%;
	border: solid 2px #222;
	min-width: 500px;
	max-height: 90%;
	overflow: auto;
	background-color: white;
	z-index: 5;
	padding: 8px;
	margin-top: 8px;
}

.nucleus-search-results-subtitle::before
{
	content: '[';
}
.nucleus-search-results-subtitle::after
{
	content: ']';
}

.nucleus-search-results .nucleus-search-results-long-text
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.nucleus-admin-content table
{
	width: 100%;
	border-collapse: collapse;
}

/*.nucleus-admin-content pre
{
	font-family: monospace;	
}
*/
.nucleus-admin-content table input[type=text]
{
	width: 100%;
	box-sizing: border-box;
}

.nucleus-admin-content table.headers-column th
{
	text-align: left;
	padding-right: 2rem;
	min-width: 12rem;
}

.nucleus-admin-content table.headers-column td
{
	width: 100%;
}

.nucleus-control-panel-sidebar
{
	width: 100px;
	margin: 0;
	color: white;
	display: flex;
	flex-direction: column;
}

.nucleus-control-panel ul.nucleus-control-panel-sidebar
{
	padding: 0;
	margin: 0;
}

.nucleus-control-panel-sidebar li
{
	padding: 12px;
	opacity: 0.9;
	user-select: none;
	cursor: default;		
	list-style-type: none;
}

.nucleus-control-panel-sidebar li:hover
{
	opacity: 0.95;
	background-color: #222;		
}

.nucleus-control-panel-sidebar li:active
{
	opacity: 1;
	background-color: #111;		
}

/*.nucleus-control-panel-sidebar li, .nucleus-control-panel-sidebar li:hover, .nucleus-control-panel-sidebar li:active, .nucleus-control-panel-sidebar li a
{
	color: white;
}*/

.nucleus-control-panel-sidebar li.SystemIcon
{
	background-color: #0A0A0A;
}

.nucleus-control-panel-sidebar li.SystemIcon A
{
	color: #a4e4ff;
}

.nucleus-control-panel-sidebar li.PagesIcon A
{
	color: #f78f73;
}

.nucleus-control-panel-sidebar li.ManageIcon A
{
	color: #f1a4ff;
}

.nucleus-control-panel-sidebar li.ExtensionsIcon A
{
	color: #ffdca4;
}

.nucleus-control-panel-sidebar li.SettingsIcon A
{
	color: #a4ffe2;
}

/* apply margin-top: auto to the first .nucleus-control-panel-sidebar-bottom in .nucleus-control-panel-sidebar to align it and any following to the bottom*/
.nucleus-control-panel-sidebar li:not(.nucleus-control-panel-sidebar-bottom) + .nucleus-control-panel-sidebar-bottom
{
	margin-top: auto;
}

.nucleus-control-panel-sidebar li.nucleus-control-panel-sidebar-bottom-active
{
	background-color: #111;
}

#nucleus-edit-page-btn a
{
	color: #a8c600;
}

#nucleus-edit-content-btn a
{
	color: #ff9e06;
}

.nucleus-control-panel-sidebar li .Label
{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
}


.nucleus-control-panel-sidebar a
{	
	display: block;
	text-decoration: none;
	text-align: center;
}

.nucleus-control-panel-sidebar a span
{
	display: block;
	height: 48px;
	width: 48px;
	margin: auto;
	box-sizing: border-box;
	font-family: 'Material Icons'; 
	font-size: 42px;
}



/*.nucleus-small-cell btn
{
	margin-right: 0;
}*/

.nucleus-control-panel-items
{
	white-space: initial;
	display: flex;
	flex-flow: wrap;
	gap: 8px;
	padding-left: 0;
	margin-top: 1rem;
}

ul.nucleus-control-panel-items li  
{
	list-style-type: none;
	flex-basis: 0;
	min-width: 20rem;
	/*min-height: 52px;*/
	font-size: 12px;
	vertical-align: top;
	padding: 8px;
	position: relative;	
}

ul.nucleus-control-panel-items a
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.nucleus-control-panel-items span
{
	float: left;
	margin: 0 8px 28px 0;
	font-family: 'Material Icons'; 
	font-size: 42px;	
}

.nucleus-control-panel-items li:hover, .nucleus-control-panel-items li:active, .nucleus-control-panel-items li:hover span, .nucleus-control-panel-items li:active span 
{
	background-color: #444;
	color: white!important;
	cursor: pointer;
	user-select: none;
}

.nucleus-control-panel-items li.UsersIcon span, .nucleus-control-panel-items li.SysAdminsIcon span
{
	color: #0033da;
}

.nucleus-control-panel-items li.RoleGroupsIcon span, .nucleus-control-panel-items li.SiteGroupsIcon span
{
	color: #7900d6;
}

.nucleus-control-panel-items li.RolesIcon span
{
	color: #d600ce;
}

.nucleus-control-panel-items li.SiteIcon span, .nucleus-control-panel-items li.SitesIcon span
{
	color: #444444;
}

.nucleus-control-panel-items li.MailIcon span
{
	color: #a8c600;
}

.nucleus-control-panel-items li.FilesIcon span
{
	color: #dd9700;
}

.nucleus-control-panel-items li.ListsIcon span, .nucleus-control-panel-items li.ScheduledTasksIcon span
{
	color: #00738c;
}

.nucleus-control-panel-content
{
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	margin: 8px;	
	box-sizing: border-box;
	border: 8px solid white;
	background-color: white;	
	max-height: calc(100% - 16px);
	overflow: auto;
}

/*.nucleus-control-panel .AdminContentControls
{
	position: absolute;
	right: 16px;
}*/

.nucleus-btn-close-frame, .nucleus-btn-page-back, .nucleus-btn-close-results
{
	font-family: 'Material Icons'; 
	font-size: 20px;	
	text-decoration: none;
	color: black;
	position: relative;
	float: right;
	/*margin-top: 4px;*/
	z-index: 1000;
	cursor: pointer;
}

.nucleus-btn-close-results
{
	margin-top: -6px;
}

/*.nucleus-btn-close-popup
{
	font-family: 'Material Icons'; 
	font-size: 20px;	
	position: absolute;
	top: 12px;
	right: 12px;
	text-decoration: none;
	color: black;
	z-index: 1000;
	cursor: pointer;
}
*/
.nucleus-btn-page-back
{
	display: none;
}

.nucleus-admin-content .nucleus-index-wrapper
{
	display: flex;	
	flex: 1;
	flex-basis: 100%;
	flex-direction: row;	
	height: 100%;
}

.nucleus-admin-content .nucleus-index-wrapper a
{
	cursor: default;
}

.nucleus-index-items
{
	display: flex;
	flex-direction: column;
	/*display: inline-block;*/
	vertical-align: top;
	flex-grow: 1;
	max-width: 20rem;	
	align-self: stretch;
}

.nucleus-index-items ul
{
	width: 100%;
	min-width: 200px;	
	height: 100%;
	overflow-y: auto;
	padding: 4px;
	border: solid 1px #AAA;
}

.nucleus-index-items ul ul
{
	border: none;
	margin-left: 12px;
	min-height: auto;
	max-height: none;
	overflow-y: unset;
	margin-top: auto;
	flex-basis: 100%;
	box-sizing: border-box;
}

.nucleus-index-items li 
{
	display: flex;	
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.nucleus-index-items li a
{
	padding: 4px 8px;
	text-decoration: none;
	margin: 0;/* 0 4px 0;*/
	color: black;
}

.nucleus-index-items li a:first-child
{
	flex-grow: 1 ;
}

.nucleus-index-items a:hover
{
	background-color: #CCC;
	border-radius: 4px;
	color: white;
}

.nucleus-index-items li.selected a:hover
{
	border-radius: 0;
}

.nucleus-index-items li.selected > a, .nucleus-index-items li.selected > a:hover, .nucleus-index-items li.selected > a:active
/*, .nucleus-index-items li.selected > button*/
{
	background-color: #197ba4;
	color: white;
}

.nucleus-index-items li.selected .nucleus-get-childpages
{
	border-radius: 0;
}

.nucleus-admin-content .nucleus-editor-panel
{
	display: flex; 
	flex-direction: column;
	justify-content: stretch;
	margin-left: 8px;
	flex-grow: 4;
	/*overflow: auto;*/
}

.nucleus-admin-content .nucleus-editor-panel form, .nucleus-admin-content .nucleus-editor-panel form fieldset
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

/* page-specific styles */
.nucleus-adminpage .System select, .nucleus-adminpage .ScheduledTasks select
{
	min-width: 200px;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}

.nucleus-adminpage .ScheduledTasks .interval .settings-control
{
	flex-grow: 2;
}

.nucleus-adminpage .ScheduledTasks .interval .settings-control:first-child
{
	flex-grow: 1;
}

.nucleus-adminpage .LogContent
{
	white-space: nowrap;
}

/*.nucleus-adminpage .ExtensionInstaller
{
	min-width: 660px;
	min-height: 400px;
}
*/
.nucleus-adminpage .ExtensionInstaller .InstalledExtensions
{
	font-size: 14px;
}

.nucleus-adminpage .ExtensionInstaller .InstalledExtensions .EmailIcon
{
	text-decoration: none;
	color: #21A3DA!important;
	font-size: 18px;
	vertical-align: text-bottom;
}

.nucleus-adminpage .ExtensionInstaller .InstalledExtensions tr
{
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
}

.nucleus-adminpage .ExtensionInstaller .InstalledExtensions tr:last-child
{
	border-bottom: none;
}

.nucleus-adminpage .ExtensionInstaller .InstalledExtensions td
{
	vertical-align: top;
	padding: 4px;
}

.nucleus-adminpage .FileBrowser label
{
  cursor: pointer;
}

.nucleus-adminpage .Restart
{
	display: none;
}

.nucleus-adminpage .FileSystemManager
{
	min-width: 750px;
}

.nucleus-adminpage .FileSystemItems
{
	font-size: 14px;
}

.nucleus-adminpage .FileSystemItems th, .nucleus-adminpage .FileSystemItems td
{
	padding: 4px 8px;
}


.nucleus-page-list 
{
	position: relative;
	display: flex;
}

.nucleus-page-list > ul
{
	padding: 0;
	margin: 0;
	max-height: 12rem;
	overflow: auto;
	border: solid 1px #333;
	position: absolute;
	background-color: white;
	flex-grow: 1;
	width: 100%;
	z-index: 1;
}

.nucleus-page-list .nucleus-page-list-selected
{
	border: solid 1px #767676;
	border-radius: 2px;
	padding: 2px 3px;
	flex-grow: 1;
}

.nucleus-page-list ul ul
{
	width: 100%;
}

.nucleus-page-list li
{
	opacity: 0.9;
	cursor: default;		
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.nucleus-page-list li .btn
{
	padding: 0 0.75rem;
}

.nucleus-page-list li a, .nucleus-page-list li span
{	
	padding: 4px;
	font-size: inherit!important;
	flex-grow: 1;
	text-decoration: none;
	color: inherit;
}

.nucleus-page-list li a:hover
{
	opacity: 1;
	background-color: #ccc;		
}

.nucleus-log-level
{
	display: block;
	padding: 0 8px 0 8px;
}

.nucleus-log-level-warning
{
	background-color: #ffc107!important;
	border-radius: 4px;
}

.nucleus-log-level-error
{
	background-color: #dc3545!important;
	color: white;
	border-radius: 4px;
}

.nucleus-log-category
{
	color: #888;
}

.nucleus-log-message
{
	max-height: 8rem;
	text-overflow: ellipsis;
	overflow: auto;
}

.text-break
{
	white-space: break-spaces;
}