/* CSS classes for the inline module settings controls */
.nucleus-module-editing
{
  border: dotted 2px #ddd;
  position: relative;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.nucleus-module-editing .nucleus-inline-edit-controls
{
  display: flex;
  justify-content: end;
	gap: 2px;
  flex-direction: initial;
}

.nucleus-module-editing .nucleus-inline-edit-controls *
{
  visibility: hidden;  
}

.nucleus-module-editing .nucleus-inline-edit-controls .btn-danger
{
  margin-left: 4px;
}

.nucleus-module-editing:hover .nucleus-inline-edit-controls *
{
  visibility: visible;
}

.nucleus-module-editing .nucleus-inline-edit-controls .btn
{
  padding: 4px 6px;
  font-size: 12px;
}

.nucleus-adminviewonly
{
  border-color: red!important;
}

.nucleus-adminviewonly:before
{
  content: 'Visible by Administrators only';
  color: red;
  font-weight: bold;
  font-size: 0.85rem;
  position: absolute;
  margin: 0.25rem;
}

.nucleus-module-editing *[contenteditable=true]:focus-visible
{
  border: solid 1px black;
  outline: none;
}

.nucleus-module-editing *[contenteditable=true]
{
  border: solid 1px #ddd;
  margin: 1px;
  cursor: text;
}

.nucleus-module-editing .nucleus-move-dragsource
{
  margin-left: 0.25rem;
  cursor: grab;
}

.nucleus-move-droptarget
{
  background-color: #d5e5ff;
  margin: 2px;
  border: dashed 2px #428aff; /*#d5e5ff;*/
  border-radius: .25rem;
  display: flex;
  align-items: center;
  flex: 0;
  /*  this is to prevent cases where .nucleus-move-droptarget inherits flex-direction from a pane's CSS */
  flex-direction: column!important;
}

.nucleus-move-droptarget.show
{          
  opacity: 0.9;
}

.nucleus-move-droptarget.sideways
{
  flex-direction: row!important;
}

.nucleus-move-droptarget.drag-active
{
  color: #428aff;
  border: solid 2px #428aff;
}

.nucleus-move-droptarget::before
{
  content: attr(data-pane-name); 
  font-size: 0.8rem;
  color: #668;
}

/* set position absolute for drop targets which are "for" an existing module, but not for drop targets that are the first/last for a pane */
.nucleus-module-editing .nucleus-move-droptarget.sideways
{
  position: absolute;
  top: 2px;
  bottom: 2px;
}

.nucleus-move-droptarget.sideways::before
{
  text-orientation: sideways;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.nucleus-move-droptarget:after
{
  font-family: 'Material Icons';
  content: '\e147'; 
  font-size: 1.4rem;
  line-height: 1.4rem;
}
