/* CSS classes for form controls */
.nucleus-flex-fields
{
	display: flex;
	gap: 8px;
	clear: both;
	align-items: end;
}

.nucleus-flex-fields > div
{
	flex-grow: 1;
	align-self: center;
	text-align: left;
}

.nucleus-flex-fields.nucleus-fileselector label
{
	flex-direction: row;
}

.nucleus-flex-fields.nucleus-fileselector .button
{
	margin-left: auto;  /*  aligns buttons to the right */
}

.nucleus-flex-fields.nucleus-fileselector select
{
	flex: 2;
}

.nucleus-flex-fields.nucleus-fileselector select:first-child
{
	flex: 1;
}

.nucleus-flex-fields .settings-control
{
	flex: 1;
}

.settings-control
{
	margin-bottom: 6px;
}

.settings-control label
{
	display: flex;
	flex-direction: column;
}

.settings-control.inner-inline label, .settings-control .button label
{
	flex-direction: row;
	gap: 4px;
}

.settings-control label span
{
	font-size: 12px;
	margin-bottom: 1px;
}

.settings-control input, .settings-control select, .settings-control textarea
{
	display: block;
	font-size: 0.95em;
}

.settings-control.inline, .settings-control.inline input, .settings-control.inline span
{
	display: inline-block;
}

.settings-control.inner-inline label span, .settings-control.inner-inline label input, settings-control.inner-inline label select
{
	display: inline-block;
}

.settings-control span
{
	white-space: nowrap;
}

fieldset label span
{
	font-size: 14px;
	display: block;	
}

table input, table select
{
	width: 100%;
}

table input[type=radio]
{
	width: auto;
}

/* This section is mostly to do with overriding Safari/IOS styling of various elements */
input[type=text], input[type=email], input[type=tel], 
input[type=search], input[type=url], 
select, textarea
{
	padding: 2px;	
	border: solid 1px black;
	outline: black;
}

select
{
	appearance: none;
	background: url(data:image/svg+xml;base64,PHN2ZyAKICAgICB2ZXJzaW9uPSIxLjEiIAogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgCiAgICAgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIAogICAgIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjZweCIgCiAgICAgdmlld0JveD0iMCAwIDEwIDYiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPiAKICAgPGc+IAo8aW1hZ2Ugd2lkdGg9IjEwIiBoZWlnaHQ9IjYiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCwgCmlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFBb0FBQUFHQ0FZQUFBRDY4QS9HQUFBQUdYUkZXSFJUYjJaMGQyRnlaUUJCWkc5aVpTQkoKYldGblpWSmxZV1I1Y2NsbFBBQUFBRjVKUkVGVWVOcGN6TEVOd0RBSUJFREdTT2xSR0NPanBHUVR4c2dvS1JrakpmRWoyZnBRSUwyZQpBOGxNTWJNcklnNWtIblR1ZmlJWEVwRjNqUEV3UmxiVkd6dmdLb0Jta1FzelFsY2YxelhobkNnWmJkaHhSei9JdUNQTUo4QUFDZVdGCkp4dEtjTWNBQUFBQVNVVk9SSzVDWUlJPQoiLz4gCiAgIDwvZz4gCjwvc3ZnPgkK) no-repeat 99% 50%;	
	outline: black;
	color: black;
}

input[type=text], input[type=button], input[type=search], input[type=button], input[type=tel], input[type=email], input[type=password], input[type=date], input[type=datetime]
{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type=search], select
{
  appearance: none;
	-webkit-appearance: none;
}
/********************/

.settings-control input[type=checkbox]
{
	min-width: 20px;
}

.nucleus-form-tools
{
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
	gap: 4px;	
}

.nucleus-form-buttonrow
{
	margin-top: 8px;
	display: flex;
	gap: 4px;
}