/*  Styles for common view controls  */
/*.AccountControl A
{
	display: inline-block;
	margin: 0 0 0 4px;	
	text-decoration: none;
	background-color: #197ba4;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
}

.AccountControl a span
{
	margin-right: 4px;
}


.AccountControl .AccountMenu
{
	position: absolute;
	right: 0;
	
}

.AccountControl .AccountMenu UL
{
	position: absolute;
	top: 0;
	right: 0;
	
	display: block;
	padding: 0;
	margin: 0;
	background-color: #444;		
	box-shadow: 2px 2px #999;
}

.AccountControl .AccountMenu li
{
	list-style-type: none;
	white-space: nowrap;
	color: white;
}

.AccountControl .AccountMenu li a
{
	display: block;
	padding: 12px 14px;
	border-radius: 0;
	background-color: #444;
	color: white;
	text-decoration: none;
}

.AccountControl .AccountMenu li:hover
{
	opacity: 0.95;
	background-color: #222;	
	
}

.AccountControl .AccountMenu li:active
{
	opacity: 1;
	background-color: #111;	
}
*/