/*! shared.css | Styles for all pages in Nucleus CMS.  (c) Inventua Pty Ptd.  www.nucleus-cms.com */
:root
{
  --admin-frame-width: 100px;
  --admin-frame-background-color: #444;

  --nucleus-default-gap-horizontal: 1rem;
  --nucleus-default-gap-vertical: 1rem;

  --font-size-small: 0.9rem;
  --font-size-smaller: 0.8rem;

  --nucleus-default-border-color: #dee2e6;

  --nucleus-menu-item-padding: 0.5rem;

  --nucleus-menu-background-color: var(--bs-body-bg);
  --nucleus-menu-text-color: var(--bs-body-color);
  --nucleus-menu-hover-background-color: var(--bs-secondary-bg);
  --nucleus-menu-hover-text-color: var(--bs-body-color);

  --nucleus-submenu-background-color: var(--bs-body-bg);
  --nucleus-submenu-text-color: var(--bs-body-color);
  --nucleus-submenu-hover-background-color: var(--bs-secondary-bg);
  --nucleus-submenu-hover-text-color: var(--bs-body-color);

  --nucleus-submenu-padding: 0.25rem 0.5rem;

  --nucleus-submenu-item-min-width: 10rem;
  --nucleus-submenu-item-max-width: 25rem;
  --nucleus-submenu-item-padding: 0.5rem;

  --nucleus-menu-ribbon-dropdown-gap: 0.25rem;
  --nucleus-submenu-ribbon-dropdown-border: solid 1px var(--nucleus-default-border-color);
  --nucleus-menu-ribbon-portrait-dropdown-columns: 4;

  --footer-padding: 1rem;
  --footer-text-color: white;
  --footer-background-color: #535353;
  --footer-gap: var(--nucleus-default-gap-horizontal);
  --footer-margin: 1rem 0 0 0;

  --tab-content-border: 1px solid var(--nucleus-default-border-color);
}

html, body
{
	height: 100%;
}

body 
{
	overflow: auto;
}

@font-face 
{
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/Resources/material-icons.woff2) format('woff2');
	font-display: auto;
}

.nucleus-material-icon
{
	font-family: 'Material Icons'!important; 
}

.nucleus-material-icon.icon-large
{
  font-size: 1.4rem;
  padding: 0.25rem;
  line-height: normal;
}

/* admin sidebar positioning.  These classes are in shared.css rather than admin.css because they control the iframe and placeholder, which belong */
/* to the main display, admin.css is for elements within the admin iframe.  */
.nucleus-admin-frame, .nucleus-admin-frame-placeholder
{
	width: var(--admin-frame-width);
	height: 100%;
}

.nucleus-admin-frame-placeholder
{
	float: left;
}

.nucleus-admin-frame
{
	position: fixed;
	background-color: var(--admin-frame-background-color);
	top: 0;
	left: 0;
	border: 0;
	z-index: 1040;
	transition: none;  /* prevent transition on close */
}

.nucleus-admin-frame.nucleus-admin-frame-expanded
{
	width: 100%;
	z-index: 10000;
	transition: width linear .25s; /* show using transition on open */
}

.nucleus-modulesettings-frame
{
	display: none;
	z-index: 99;
	border: 0;
	flex-grow: 1;
}

.nucleus-content
{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.nucleus-overlay
{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.25;
	z-index: 3;	
}


/* progress bars */
.nucleus-flex-fields .nucleus-progress-spinner
{
  flex-grow: initial;
}

.nucleus-show-progress-inside .nucleus-progress-spinner
{
	position: absolute;
	right: 0.5rem;
}

.nucleus-show-progress-after .nucleus-progress-spinner
{
	margin-left: 0.5rem;
}

.nucleus-show-progress-before .nucleus-progress-spinner
{
	margin-right: 0.5rem;
}

/*  Indeterminate progress bar, for use with bootstrap progress class */
@keyframes indeterminate 
{
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 55%;
	}
}

.progress .indeterminate 
{
	animation: indeterminate 2.5s linear infinite alternate;
	border-radius: 1rem;
	width: 45% !important;
}

/*  Styles for the progress bar rendered with the <Progress> tag helper.  */
.upload-progress 
{
	display: none;
	border: solid 1px #333;
	padding: 1rem;
	position: absolute;
	left: 0.25rem;
	right: 0.25rem;
	background-color: white;
	z-index: 100;
}

.upload-progress label
{
	font-size: 0.8rem;
}

.upload-progress progress
{
	appearance: none;
	display: block;
	width: 100%;
	height: 1.5rem;
}

/*  cross-browser styling for the <progress> element.  */
/*  The transition style is only known to work in Edge and Chrome */

/*  background  */
.upload-progress progress::-webkit-progress-bar { background-color: white; width: 100%; }
.upload-progress progress { background-color: white; }

/*  value component  */
.upload-progress progress::-webkit-progress-value { background-color: #0d6efd!important; border-radius: 6px; transition: width 1s; }
.upload-progress progress::-moz-progress-bar { background-color: #0d6efd!important; border-radius: 6px; transition: width 1s; }
.upload-progress progress { color: #0d6efd; border-radius: 6px; transition: width 1s; }

/* set pointer for children of <a> elements.  */
a *
{
	cursor: pointer;
}

/* dialog (modal) styles*/
.modal-auto-size.modal-dialog
{
	max-width: 80%;
	width: auto;
}

.modal-full-size.modal-dialog
{
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
}

.modal-full-size.modal-dialog .modal-content
{
	height: 100%;
}

.modal-dialog .modal-header
{
	gap: 0.5rem;
}

.modal-dialog .modal-title
{
	flex: 1;
}

.modal-dialog .modal-header .btn-help, .modal-dialog .modal-header .btn-normalsize, .modal-dialog .modal-header .btn-maximize
{
	margin: -0.5rem -0.5rem -0.5rem auto;
	padding: 0.5rem;
	border: 0;
	font-size: 1.3rem;
}

.modal-dialog .modal-header .btn-normalsize, .modal-dialog .modal-header .btn-maximize
{
	display: none;
}

.modal-full-size.modal-dialog > .modal-content > .modal-header > .btn-normalsize
{
	display: block;
}

.modal-auto-size.modal-dialog:not(.modal-full-size) > .modal-content > .modal-header > .btn-maximize
{
	display: block;
}

/*  prevent selection of dialog header - when handling double-click to set modal to full size, edge selects the text and shows a menu, this prevents 
    that from happening  */
.modal-header
{
	user-select: none; 
}

.modal-body
{
	display: flex;  
	flex-direction: column;
	justify-content: stretch;
}

.modal-auto-size .modal-content
{
	min-height: 90%;
}

/* styles for dialogs rendered by shared.js:_dialog() */
.modal-dialog .dialog-icon
{
	font-size: 3rem;
	flex-grow: 1;
	max-width: 3rem;
	margin-right: 1rem;
}

.modal.icon-error .modal-dialog .dialog-icon 
{
	color: #ec1111;
}

.modal.icon-info .modal-dialog .dialog-icon 
{
	color: #0d6efd;
}

.modal.icon-alert .modal-dialog .dialog-icon 
{
	color: #ff6600;
}

.modal.icon-warning .modal-dialog .dialog-icon 
{
	color: #f9b512;
}

.modal.icon-question .modal-dialog .dialog-icon 
{
	color: #0d6efd; 
}

.modal-dialog .dialog-message
{
	flex-grow: 5;
	margin: auto;
}

/* shared.css applies the .validation-error class when it receives a BadRequest(ModelState) response. */
.validation-error
{
	border: solid 2px red!important;
}

/* table "sticky headers" */
table.table-sticky-headers
{
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

table.table-sticky-headers thead th
{
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

/*  Extend bootstrap width classes to provide a "width 1", which is generally used for table cells to specify that the cell should be as small as */
/*  possible while extending to fit content (table rendering ignores width if the content can't fit) */
.w-min-fit-content
{
	width: 1px;
	white-space: nowrap;
}

/*  styles for small table cells, intended for use with buttons/icons */
table td.nucleus-small-cell
{
	width: 20px;
	background-color: transparent;
	padding: 2px;
}

.nucleus-small-cell .nucleus-material-icon
{
	font-size: 0.92rem;
}

.nucleus-small-cell .btn
{
	padding: 4px 6px;
	margin-right: 0;
}

/* bootstrap tabs. Supplement bootstrap tab style to add a border and padding */
.tab-content
{  
	border: var(--tab-content-border);
	border-top-width: 0;
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

.tab-content .tab-pane
{
	padding: 0.6rem;
}

.tab-content .tab-pane.active
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

/* menu styles for the MenuTagHelper */
.navbar-nav.nucleus-mobile-menu
{
  /* the tag helper renders a mobile-only menu without dropdowns */
	flex-direction: row;
	gap: 0.5rem;
}

.nucleus-menu
{
  padding-left: calc(var(--nucleus-default-gap-horizontal) - var(--nucleus-menu-item-padding));
  padding-right: calc(var(--nucleus-default-gap-horizontal) - var(--nucleus-menu-item-padding));
}

/* override bootstrap padding so that .nucleus-menu controls padding*/
.nucleus-menu > .container-fluid
{
  padding: 0;  
}

/* supplement bootstrap menu to allow submenus */
.nucleus-menu .dropdown-submenu 
{
	position: relative;  
}

.navbar-nav
{
  flex-wrap: wrap;
  width: 100%;
}

.nucleus-menu .navbar-nav > .dropdown-submenu 
{
  white-space: nowrap;
}

.nucleus-menu .navbar-nav > li >.nav-link
{
	display: inline-block;
	vertical-align: middle;
	padding: var(--nucleus-menu-item-padding);  
  white-space: normal;
}

.nucleus-menu .dropdown-menu 
{
  padding: var(--nucleus-submenu-padding);
}

.nucleus-menu .dropdown-menu li 
{
  display: inline-block;
  max-width:  var(--nucleus-submenu-item-max-width);
  min-width: var(--nucleus-submenu-item-min-width);	
}

.nucleus-menu .dropdown-menu li a
{
  padding: var(--nucleus-submenu-item-padding);
}


.nucleus-menu .dropdown-toggle.btn
{
  height: 100%;
  padding: var(--nucleus-submenu-item-padding);
}

.nucleus-menu .dropdown-toggle::after 
{
  margin: auto;
}

.nucleus-menu .dropdown-menu .dropdown-toggle::after 
{
	/*margin-top: 0.1rem;
	margin-left: 1rem;*/
	transform: rotate(-90deg);
}


.nucleus-menu .dropdown-submenu .dropdown-submenu 
{
	display: flex;
}

.nucleus-menu .dropdown-submenu .dropdown-submenu .dropdown-menu
{
	left: 100%;
}


.dropdown-menu .alert
{
	margin: -0.5rem 0 0.5rem 0;
}

.nucleus-menu ul  
{
  background-color: var(--nucleus-menu-background-color);
}

.nucleus-menu ul.navbar-nav > li:hover, .nucleus-menu ul.navbar-nav > li:focus
{
  background-color: var(--nucleus-menu-hover-background-color);
}

.nucleus-menu ul li, .nucleus-menu ul li .nav-link
{
  color: var(--nucleus-menu-text-color);
}


.nucleus-menu li:hover > .nav-link, .nucleus-menu li:focus > .nav-link
{
  color: var(--nucleus-menu-hover-text-color);
}

.nucleus-menu .dropdown-menu, .nucleus-menu .dropdown-menu UL
{
  background-color: var(--nucleus-submenu-background-color);
}

.nucleus-menu .dropdown-menu .dropdown-item, .nucleus-menu .dropdown-menu .dropdown-toggle
{
  color: var(--nucleus-submenu-text-color);  
}

/*  ribbon menu styles */

/* shared ribbon (both landscape and portrait) styles */
.nucleus-menu .dropdown-menu.ribbon-item li > a:hover, .nucleus-menu .dropdown-menu.ribbon-item li > a:focus
{
  color: var(--nucleus-submenu-hover-text-color);
}

.nucleus-menu .dropdown-menu.ribbon-item li > a:hover, .nucleus-menu .dropdown-menu.ribbon-item li > a:focus
{
  background-color: var(--nucleus-submenu-hover-background-color);
}

.nucleus-menu .dropdown-submenu > .ribbon-item.show 
{
	display: flex; 
}

.nucleus-menu .dropdown-submenu > .ribbon-item > li
{  
	border: var(--nucleus-submenu-ribbon-dropdown-border);  
}

.nucleus-menu .ribbon-item, .nucleus-menu .ribbon-item li
{
	list-style-type: none;  
}

.nucleus-menu .ribbon-item ul
{
  padding: 0;
}

.nucleus-menu .ribbon-item UL LI
{
  padding-left: .5rem;  
}

.nucleus-menu .dropdown-submenu > .ribbon-item
{
  width: max-content;
  max-width: 75vw;
}

/* menu style "ribbon portrait" styles */
.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonportrait 
{
  grid-template-columns: 1fr repeat(calc(var(--nucleus-menu-ribbon-portrait-dropdown-columns) - 1), auto);
	grid-auto-rows: auto;
  gap: var(--nucleus-menu-ribbon-dropdown-gap);
}

.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonportrait.show
{
	display: grid;  
}

.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonportrait ul
{
  display: flex;
  flex-direction: column;
}

/* menu style "ribbon landscape" styles */
.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonlandscape
{
  flex-wrap: wrap;
  gap: var(--nucleus-menu-ribbon-dropdown-gap);
}

.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonlandscape ul
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nucleus-menu .dropdown-submenu > .ribbon-item.ribbonlandscape > li
{  
	flex-grow: 1;
  flex-shrink: 1;
  max-width: var(--nucleus-submenu-item-max-width);
  min-width: var(--nucleus-submenu-item-min-width);
}

.nucleus-menu .dropdown-menu.ribbon-item.ribbonlandscape.show
{
	position: absolute;
}

/* menu style "dropdown" styles */
.nucleus-menu .dropdown-menu.dropdown li:hover > a, .nucleus-menu .dropdown-menu.dropdown li:focus > a,
.nucleus-menu .dropdown-menu.dropdown li:hover > button, .nucleus-menu .dropdown-menu.dropdown li:focus > button
{
  color: var(--nucleus-submenu-hover-text-color);
  background-color: var(--nucleus-submenu-hover-background-color);
}

.nucleus-menu ul .dropdown-menu.dropdown .dropdown-submenu li:hover > .nav-link, .nucleus-menu ul .dropdown-menu.dropdown .dropdown-submenu li:focus > .nav-link,
.nucleus-menu ul .dropdown-menu.dropdown .dropdown-submenu li:hover > .nav-link, .nucleus-menu ul .dropdown-menu.dropdown .dropdown-submenu li:focus > .nav-link
{
  color: var(--nucleus-submenu-hover-text-color)!important;
  background-color: var(--nucleus-submenu-hover-background-color);
}

.nucleus-menu  .dropdown-menu.dropdown .dropdown-menu.show
{
	top: -0.5rem;
}

.nucleus-menu .dropdown-menu.dropdown.show
{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px var(--nucleus-submenu-background-color);
}

/* override max width for bootstrap tooltips to allow full-width.  The bootstrap default is 200px */
.tooltip-inner
{
	max-width: 100vw;
}

/* styles for the AccountTagHelper */
.nucleus-account-control.justify-content-end .dropdown-menu
{
	left: initial;
	right: 0;
	margin: auto;
}

.nucleus-account-control.justify-content-start .dropdown-menu
{
	left: 0;
	right: initial;
	margin: auto;
}

/* common styles */
.flex-1
{
	flex: 1;
}

.flex-2
{
	flex: 2;
}

.flex-3
{
	flex: 3;
}

.flex-full, .flex-full > *
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.comma-separated li:not(:last-child)::after
{
	content: ', ';
}

input:disabled, select:disabled
{
  cursor: not-allowed;
  opacity: 0.4;
  color: revert;
  background-color: revert;
  border-color: revert;
}


.style-scrollable, .style-scrollable > div, .style-scrollable > div > section, .style-scrollable > div > section > form
{
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
}


/* additional classes to control font size */
.fs-small
{
	font-size: var(--font-size-small);
}

.fs-smaller
{
	font-size: var(--font-size-smaller);
}

/* buttons */
.btn label span
{
	vertical-align: text-top;
}

.btn.btn-none
{
	background-color: transparent;
	border-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.btn.btn-none:focus
{
	border-color: #ccc;
  box-shadow: none;
}

.btn.btn-none:focus-visible
{
	outline: -webkit-focus-ring-color auto 1px;
}

/*  Toggle switch plugin  */
input[type=range].ToggleSwitch
{
	-webkit-appearance: none;
	width: 50px;
	height: 25px;
	background: #d3d3d3;
	outline: gray;
	opacity: 0.7;
	transition: opacity .2s;
	vertical-align: middle;
	font-size: 18px;
	position: relative;
	margin-right: 0.25em;
}

input[type=range].ToggleSwitch::-webkit-slider-thumb 
{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background-color: gray;  
	cursor: pointer;
}

input[type=range].ToggleSwitch::-webkit-slider-runnable-track
{
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
}

input[type=range].ToggleSwitch::-moz-range-thumb 
{
	width: 25px;
	height: 25px;
	background-color: gray;
	cursor: pointer;
  border-radius: 0;
}

input[type=range].ToggleSwitch::-moz-range-track
{
	height: 25px;
}

input[type=range].ToggleSwitch.checked::-webkit-slider-thumb 
{
	background-color: #1979A2;
}

input[type=range].ToggleSwitch.checked::-moz-range-thumb
{
	background-color: #1979A2;
}

input[type=range].ToggleSwitch:after
{
	font-family: 'Material Icons'!important; 
	content: "";
	position: absolute;
	left: 8px;
	top: 0;
	color: white;
	font-size: 16px;
}

input[type=range].ToggleSwitch.checked:after
{
	content: "\e876";
	left: 30px;
}

/* styles for the RangeTagHelper */
.nucleus-range input[type=number]
{
  width: 4rem;
}

/* default styles for Html Editors */
.trumbowyg-editor, .trumbowyg-textarea, .tox.tox-tinymce, .nucleus-htmleditordefaults
{
	height: auto!important;	
	background-color: white;
	padding: 4px;
	min-height: 30vh;
	flex-grow: 1;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .modal-auto-size.modal-dialog
  {
	  max-width: unset;
  }
}