@model Nucleus.Web.ViewModels.Admin.SiteGroupIndex
<h1>Site Groups</h1>
<div class="Tools">
	<a href="@Url.Content("~/Admin/SiteGroups/Editor")" class="button" data-target=".SiteGroupEditor">New Site Group</a>
</div>
<div class="IndexWrapper">
	<div class="ItemsList">
		<ul>
			@foreach (var item in Model.SiteGroups)
			{
				<li><a href="@Url.Content("~/Admin/SiteGroups/Editor")?id=@item.Id" data-target=".SiteGroupEditor">@item.Name</a></li>
			}
		</ul>
	</div>

	<div class="SiteGroupEditor EditorPanel"></div>
</div>