.StaticContent pre
{
  white-space: pre-wrap;
  position: relative;  /* this is so that copy buttons are positioned relative to their containing pre block */
}

.StaticContent .nucleus-copy-button
{
	position: absolute;
	right: 1rem;
	top: 0.25rem;
}
