@model Nucleus.Modules.TextHtml.ViewModels.TextHtml
@using Nucleus.ViewFeatures.HtmlHelpers
@using (Html.BeginNucleusForm("Save", "TextHtml", FormMethod.Post, null))
{
	@Html.TextAreaFor(model => model.Content, 12, 60, new { @class = "HtmlEditorControl" });

	<div class="ButtonRow">
		<input type="submit" value="Save Changes" />
	</div>
}