[Unit]
Description=Nucleus Production
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify

# use on-success to restart only when Nucleus terminates cleanly (after installing an extension) and not when there is a startup error
Restart=always  

RestartSec=3

# use Development for a development environment
Environment=ASPNETCORE_ENVIRONMENT=Production  

User=nucleus-service
WorkingDirectory=/home/nucleus/app
ExecStart=dotnet Nucleus.Web.dll

[Install]
WantedBy=multi-user.target