[Unit]
Description=Nucleus Production
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=1
Environment=ASPNETCORE_ENVIRONMENT=Production
User=nucleus-service
WorkingDirectory=/home/nucleus/app
ExecStart=/usr/share/dotnet/dotnet Nucleus.Web.dll
#KillSignal=SIGINT 
TimeoutStartSec=180
TimeoutStopSec=180


[Install]
WantedBy=multi-user.target