[Unit]
Description=Nucleus Production
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=all

Restart=always  
RestartSec=3

# use Development for a development environment
Environment=ASPNETCORE_ENVIRONMENT=Production  

User=nucleus-service
WorkingDirectory=/home/nucleus/app
ExecStart=dotnet bin/Nucleus.Web.dll

[Install]
WantedBy=multi-user.target