.trumbowyg button
{
	background-color: transparent!important;
	border-radius: inherit!important;
}

.trumbowyg-box
{
	overflow: auto;
}

.trumbowyg-box, .trumbowyg-modal, .trumbowyg-modal-box
{
	min-height: auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
	/*height: 100%!important;*/
}

.trumbowyg-modal-box
{
	overflow: visible;
}

.trumbowyg-modal, .trumbowyg-modal-box
{
	max-width: none;
}

.trumbowyg-editor, .trumbowyg-textarea
{	
	height: auto!important;	
	background-color: white;
	padding: 4px;
	height: auto;
	min-height: 30vh;
	flex-grow: 1;
}

/*.trumbowyg-editor p
{
	margin: 0;
}*/

.trumbowyg-modal form.nucleus-fileselectorform, .trumbowyg-modal .nucleus-fileselector, .trumbowyg-modal .nucleus-pageselector
{
	display: flex;
}

.trumbowyg-modal form, .trumbowyg-modal .nucleus-button-panel
{
	padding: 0 0.5rem;
}

.trumbowyg-modal .nucleus-fileselector, .trumbowyg-modal .nucleus-pageselector
{
	flex-grow: 1;
	margin-bottom: 1rem;
	/*min-height: 3rem;
	min-width: 40rem;*/
}
