@model Nucleus.ViewFeatures.ViewModels.Layout
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
<div class="flex-column banner-row">
  <Logo />
  <account class="ms-auto flex-column justify-content-end me-1"></account>
</div>
<menu maxLevels="10" menuStyle="RibbonLandscape"></menu>
@Html.Breadcrumb()