@model Nucleus.Web.ViewModels.Default
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
<div class="d-flex">
  <Logo />
  <h1 class="align-self-center ms-3">@Model.Context.Site.Name</h1>
  <account class="AccountControl navbar ms-auto flex-row justify-content-end"></account>
</div>
<menu maxLevels="10" menuStyle="RibbonPortrait"></menu>
@Html.Breadcrumb()