@model Nucleus.ViewFeatures.ViewModels.Layout
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
<div class="d-flex">
  <Logo />
  <account class="ms-auto flex-column justify-content-end"></account>
</div>
<menu maxLevels="10" menuStyle="RibbonPortrait"></menu>
@Html.Breadcrumb()