.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.BannerPane
{
	display: flex;
	flex-direction: column;	
}

.ContentWrapper 
{
	flex-grow: 1;
	display: flex;		
	overflow: auto;
	flex-direction: row;
}

.ContentPane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-x: auto;
}

.ContentPane > div
{
	display: flex;
	flex-direction: column;
}

.BottomPane
{
	display: flex;
	flex-direction: row;	
  gap: 1rem;
	background-color: #535353;
	opacity: 0.9;
	padding: 0.5rem;
}

.BottomPane *
{
	color: white;
}
