.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.BannerPane
{
	display: flex;
	flex-direction: column;	
}

.BannerPane .Breadcrumbs
{
	margin-left: 4px;
	vertical-align: middle;
}

.BannerPane .AccountControl
{
	margin-right: 2px;	
	gap: 2px;
	/*float: right;
	display: block;*/
}

.BannerPane .AccountControl .dropdown-menu
{
	left: auto;
	margin: auto;
	/*right: 0;
	top: 2.5rem;*/
}

.BannerPane .AccountControl > *
{
	/*margin-left: 4px;*/
	flex-grow: 0;
}

.ContentWrapper 
{
	flex-grow: 1;
	display: flex;		
	overflow: auto;
}

.ContentPane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}

.ContentPane > div
{
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.BottomPane
{
	display: flex;
	flex-direction: column;	
	background-color: #535353;
	opacity: 0.9;
	min-height: 120px;	
}

.BottomPane *
{
	color: white;
}
