@model Nucleus.Web.ViewModels.Default
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
@{
	Layout = "_Layout";
}

@section styles
{
	@Html.AddStyle($"~{this.GetRelativeFilePath("default.css")}")
}

<div class="LayoutWrapper">
	<div class="BannerPane">
		@await Html.PartialAsync("_banner.cshtml", Model)
		@await Html.RenderPaneAsync("BannerPane")
	</div>

	<div class="ContentWrapper">
		<div class="ContentPane">
			@await Html.RenderPaneAsync("ContentPane")
		</div>
	</div>

	<div class="BottomPane">
		<terms caption="Terms" />
		<privacy caption="Privacy Policy" />
		@await Html.RenderPaneAsync("BottomPane")
	</div>
</div>