/* Shared classes for use by layouts.  */
.layout-styles .breadcrumb
{
  padding: 0 var(--nucleus-default-gap-horizontal);
}



.layout-styles.fill-height, .layout-styles .fill-height
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.layout-styles.containers-fill-height > div > div, .layout-styles .containers-fill-height > div > div
{
  height: 100%;
}

.layout-styles .flex-column
{
  display: flex;
	flex-direction: column;	
	flex-grow: 1;
}

.layout-styles .flex-row
{
  display: flex;
	flex-direction: row;	
	flex-grow: 1;
}

.layout-styles .scrollable
{  
	overflow: auto;
}

.layout-styles .two-column, .layout-styles .three-column, .layout-styles .four-column
{
	display: grid;
  grid-column-gap: var(--nucleus-default-gap-horizontal);	
  grid-row-gap: var(--nucleus-default-gap-vertical);
  margin-left: var(--nucleus-default-gap-horizontal);
  margin-right: var(--nucleus-default-gap-horizontal);
}

.layout-styles .two-column .nucleus-container, .layout-styles .three-column .nucleus-container, .layout-styles .four-column .nucleus-container
{
  --container-margin: 0;
}

.layout-styles .two-column
{
  grid-template-columns: repeat(2, 1fr);
}

.layout-styles .three-column
{
  grid-template-columns: repeat(3, 1fr);
}

.layout-styles .four-column
{
  grid-template-columns: repeat(4, 1fr);
}

.layout-styles .default-footer
{ 
	display: flex;
	flex-direction: row;
  gap: var(--footer-gap);
  background-color: var(--footer-background-color);  
  padding: var(--footer-padding);
  margin: var(--footer-margin);
}

.layout-styles .default-footer, .layout-styles .default-footer a
{
  color: var(--footer-text-color)!important;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .layout-styles .two-column, .layout-styles .three-column, .layout-styles .four-column
  {
    display: flex;
	  flex-direction: column;
  }  
}