@model Nucleus.Modules.MultiContent.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<div class="nucleus-flex-fields">
	<SettingsControl caption="Open First?" rendermode="LabelLast" class="inner-inline" helptext="Specifies whether the first item should default to open.">
		@Html.CheckBoxFor(model => model.LayoutSettings.OpenFirst, new { @class = "ToggleSwitch" })
	</SettingsControl>

	<SettingsControl caption="Render Plain?" rendermode="LabelLast" class="inner-inline" helptext="Render the accordion without a background color, rounded corners so that it is rendered edge-to-edge with the parent container.">
		@Html.CheckBoxFor(model => model.LayoutSettings.RenderFlush, new { @class = "ToggleSwitch" })
	</SettingsControl>
</div>