@Html.AddStyle("~!/$fileinputname$.css")	
<div class="LayoutWrapper">
	<div class="ContentWrapper" data-track-scroll="content-wrapper">
		<div class="ContentPane">
			@await Html.RenderPaneAsync("ContentPane")
		</div>
	</div>
</div>