@model Nucleus.Web.ViewModels.Admin.FileSystem
@using Nucleus.Abstractions.Models.FileSystem
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
<h2>Create Folder</h2>
<a class="ClosePopup">&#xe5cd;</a>
<fieldset>
	<SettingsControl caption="Folder Name" helptext="Folder name">
		@Html.TextBoxFor((model) => model.NewFolder)
	</SettingsControl>
</fieldset>
<input type="submit" value="Create Folder" formaction="@Url.AreaAction("CreateFolder", "FileSystem", "Admin")" data-target=".AdminPage" />
