@model Nucleus.Web.ViewModels.Admin.FileSystem
@using Nucleus.Abstractions.Models.FileSystem
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
<h2>Rename</h2>
<a class="ClosePopup">&#xe5cd;</a>
<fieldset>
	<SettingsControl caption="New Name" helptext="New name">
		@Html.HiddenFor((model) => model.SelectedItem.Path)
		@Html.TextBoxFor((model) => model.SelectedItem.Name)
	</SettingsControl>
</fieldset>
<input type="submit" value="Rename" formaction="@Url.AreaAction("Rename", "FileSystem", "Admin")" data-target=".AdminPage" />

