@model Nucleus.Extensions.GoogleAnalytics.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<h2 class="nucleus-control-panel-heading">Google Analytics Settings</h2>
<div class="nucleus-editor-panel">
@using (Html.BeginNucleusForm("Settings", "GoogleAnalytics", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<fieldset role="group" aria-labelledby="heading">
		<h2 class="nucleus-control-panel-heading">Settings</h2>
		<div class="nucleus-flex-fields">
			<SettingsControl caption="Google Analytics ID" helptext="Enter the Google Analytics ID for your site.  You can disable Google Analytics by setting a blank value.">
				@Html.TextBoxFor(model => model.GoogleAnalyticsId)
			</SettingsControl>

			<SettingsControl caption="Don't Track Administrator Users" rendermode="LabelLast" class="inner-inline align-self-end" helptext="Specify whether you want to prevent Analytics tracking for system administrators and site administrators.">
				@Html.CheckBoxFor(model => model.ExcludeAdministrators, new { @class = "ToggleSwitch" })
			</SettingsControl>
		</div>
	</fieldset>

	<div class="nucleus-form-buttonrow">
		@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "GoogleAnalytics", "GoogleAnalytics"), new { })
	</div>
}
</div>