<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module -->
<!-- https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis#app-startup-errors -->
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<httpProtocol>
			<customHeaders>
				<remove name="x-powered-by" />
			</customHeaders>
		</httpProtocol>

		<!-- The settings below are for development/debugging use and will not work from a production/deployed environment      -->
		<!-- because your assemblies will be in the same folder as your web.config rather than in in /bin/{configuration}. To   -->
		<!-- use in a production environment, change the "arguments" parameter to .\Nucleus.Web.dll                            -->
    <aspNetCore
			processPath="dotnet"
			arguments=".\bin\Debug\net8.0\Nucleus.Web.dll"
			stdoutLogEnabled="true"
			stdoutLogFile=".\logs\stdout"
			requestTimeout="00:01:00"
			hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    <security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<windowsAuthentication enabled="true" />
			</authentication>
			<requestFiltering>
				<!-- Measured in Bytes.  67108864 = 64mb.  This value should match the appSettings.json Nucleus:MaxRequestSize setting.  -->
				<requestLimits maxAllowedContentLength="67108864" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
</configuration>
