<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module -->
<!-- https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis#app-startup-errors -->
<configuration>	
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<aspNetCore 
			processPath="dotnet" 
			arguments=".\Nucleus.Web.dll" 
			stdoutLogEnabled="true" 				
			stdoutLogFile=".\logs\stdout" 
			requestTimeout="00:01:00"  
			hostingModel="inprocess" />
		<security>
			<authentication>
				<!--<anonymousAuthentication enabled="true" />-->
				<!--<windowsAuthentication enabled="true" />-->
			</authentication>
			<requestFiltering>
				<!-- Measured in Bytes.  52428800 = 50mb.  This value should match the appSettings.json Nucleus:MaxRequestSize setting.  -->
				<requestLimits maxAllowedContentLength="52428800" />				
			</requestFiltering>
		</security>			
	</system.webServer>	
</configuration>
