<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module -->
<!-- https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis#app-startup-errors -->
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<httpProtocol>
			<customHeaders>
				<remove name="x-powered-by" />
			</customHeaders>
		</httpProtocol>

		<!-- The settings below are for a Nucleus instance deployed using a published install set, and will not work from a development environment -->
		<!-- because your assemblies will be in /bin/{configuration} rather than /bin/. To use in a development     -->
		<!-- environment, change the "arguments" parameter to .\bin\Debug\net8.0\Nucleus.Web.dll -->
		<aspNetCore
			processPath="dotnet"
			arguments=".\bin\Nucleus.Web.dll"
			requestTimeout="00:01:00"
			hostingModel="inprocess" />

		<security>
			<authentication>
				<!--<anonymousAuthentication enabled="true" />-->
				<!--<windowsAuthentication enabled="true" />-->
			</authentication>
			<requestFiltering>
				<!-- Measured in Bytes.  67108864 = 64mb.  This value should match the appSettings.json Nucleus:MaxRequestSize setting.  -->
				<requestLimits maxAllowedContentLength="67108864" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
</configuration>
