@model Nucleus.Modules.Account.ViewModels.Login
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@using Nucleus.Abstractions.Models.Configuration
<h2 class="nucleus-modal-caption">Login Module Settings</h2>
@using (Html.BeginNucleusForm("SaveSettings", "Login", FormMethod.Post))
{
	<fieldset role="group" aria-label="Settings" class="flex-grow-1">
		<div class="nucleus-flex-fields">
			<SettingsControl caption="Allow remember me?" rendermode="LabelLast" class="inner-inline" helptext="Sets whether to allow users to select a check box to remember their login session for .">
				@Html.CheckBoxFor(model => model.AllowRememberMe, new { @class = "ToggleSwitch" })
			</SettingsControl>

			<SettingsControl caption="Allow user name recovery?" rendermode="LabelLast" class="inner-inline" helptext="Sets whether to allow users to retrieve their username by supplying their email address.">
				@Html.CheckBoxFor(model => model.AllowUsernameRecovery, new { @class = "ToggleSwitch" })
			</SettingsControl>

			<SettingsControl caption="Allow password reset?" rendermode="LabelLast" class="inner-inline" helptext="Sets whether to allow users to reset their password by supplying their email address and using a reset token.">
				@Html.CheckBoxFor(model => model.AllowPasswordReset, new { @class = "ToggleSwitch" })
			</SettingsControl>
		</div>
	</fieldset>

	<div class="nucleus-form-buttonrow">
		<input type="submit" value="Save Changes" class="btn btn-primary" />
	</div>
}
