@model Nucleus.Modules.Account.ViewModels.Signup
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@using Nucleus.Abstractions.Models.Configuration
<h2 class="nucleus-modal-caption">Signup Module Settings</h2>
<div class="alert alert-secondary">
	This module has no settings.
</div>

