@model Nucleus.Web.ViewModels.Admin.SystemIndex
@if (Model.LogContent != null)
{
	<table class="table font-monospace">
		<tr>
			<th>Date</th>
			<th>Level</th>
			<th>Message</th>
		</tr>
		@foreach (var entry in Model.LogContent.Where(log => log.IsValid))
		{
			<tr>
				<td>@entry.Date.FormatDate(this.Context.Request.GetUserTimeZone())</td>
				<td><span class="nucleus-log-level nucleus-log-level-@entry.Level.ToLower()">@entry.Level</span></td>				
				<td class="text-break"><div class="nucleus-log-category">@entry.Category</div><div class="nucleus-log-message">@entry.Message</div></td>
			</tr>
		}
	</table>					
}