@model Nucleus.ViewFeatures.ViewModels.Layout
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@addTagHelper "*, Nucleus.ViewFeatures"
<div class="flex-row banner-row">
  <Logo />
  <account class="ms-auto flex-column align-content-end mt-auto justify-content-end me-1"></account>
</div>
<menu maxLevels="10" menuStyle="RibbonPortrait"></menu>
@Html.Breadcrumb()