.layout-centered-cell.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.layout-centered-cell .BannerPane .banner-row
{
  display: flex;
}

.layout-centered-cell .ContentWrapper
{
  display: flex;		
	overflow: auto;
	flex-direction: column;
  margin: auto;
}

.layout-centered-cell .ContentWrapper > div
{
  display: flex;		
	flex-direction: row;
}

.layout-centered-cell .ContentPane
{
	display: flex;
	flex-direction: column;
	flex: 2;
  min-width: 40rem;
}

.layout-centered-cell .SidePane
{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.layout-centered-cell .SidePane > div:last-child 
{
  flex-basis: 100%;
}

.layout-centered-cell .SidePane > div:last-child > div
{
  flex-grow: 1;
}

.layout-centered-cell .ContentPane > div, .layout-centered-cell .SecondaryPane > div, .layout-centered-cell .SidePane > div
{
	display: flex;
	flex-direction: column;
}

.layout-centered-cell .SecondaryPane > div:last-child
{
  flex-grow: 1;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .layout-centered-cell .BannerPane .banner-row
  {
    display: unset;
  }
  
  .layout-centered-cell .BannerPane .nucleus-account-control > div
  {
    margin-left: auto;
  }

  .layout-centered-cell .ContentWrapper
  {
    margin: unset;
  }

  .layout-centered-cell .ContentWrapper > div
  {
    flex-direction: column;
  }

  .layout-centered-cell .ContentPane
  {
    min-width: unset;
  }
}