.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ContentPane
{
	display: flex;
	flex-direction: column;
	margin: auto;
  min-width: 40rem;
}

.ContentPane > div
{
	display: flex;
	flex-direction: column;
}
