@Html.AddStyle("~!/centered-cell.css")	

<div class="LayoutWrapper">
  <div class="BannerPane">
    @await Html.PartialAsync("_banner.cshtml")
    @await Html.RenderPaneAsync("BannerPane")
  </div>

  <div class="ContentPane" data-track-scroll="content-pane">
    @await Html.RenderPaneAsync("ContentPane")
  </div>
 
  <div class="BottomPane" suppress-empty="true">
    <terms caption="Terms" />
    <privacy caption="Privacy Policy" />
    @await Html.RenderPaneAsync("BottomPane")
  </div>
</div>