.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.BannerPane
{
	display: flex;
	flex-direction: column;	
}

.BannerPane .Breadcrumbs
{
	margin-left: 4px;
	vertical-align: middle;
}

.BannerPane .AccountControl
{
	margin-right: 2px;	
	gap: 2px;
}

.BannerPane .AccountControl .dropdown-menu
{
	left: auto;
	margin: auto;
}

.BannerPane .AccountControl > *
{
	flex-grow: 0;
}

.LeftPane
{
  flex: 1;
	background-color: #eee;	
}

.ContentWrapper 
{
	flex-grow: 1;
	display: flex;		
	overflow: auto;
	flex-direction: row;
}

.ContentPane
{
	display: flex;
	flex-direction: column;
	flex: 4;
	overflow: auto;
}

.ContentPane > div
{
	display: flex;
	flex-direction: column;
}

.RightPane
{
  flex: 1;
	min-width: 12rem;
	background-color: #eee;		
}

.BottomPane
{
	display: flex;
	flex-direction: row;	
  gap: 1rem;
	background-color: #535353;
	opacity: 0.9;
	padding: 0.5rem;
}

.BottomPane *
{
	color: white;
}

.style-scrollable
{
	height: 100%;
	overflow: auto;
}