.layout-fixed-3-column .LeftPane
{
  flex: 1;
}

.layout-fixed-3-column .OuterWrapper 
{
	flex-grow: 1;
}

.layout-fixed-3-column .ContentWrapper 
{
	display: flex;
	flex-direction: column;
	flex: 4;
}

.layout-fixed-3-column .RightPane
{
  flex: 1;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .layout-fixed-3-column .ContentWrapper
  {
    flex-direction: column;
  }

  .layout-fixed-3-column .ContentPane
  {
    overflow: unset;
  }
}