.layout-fixed-2-column .OuterWrapper 
{
	flex-grow: 1;
}

.layout-fixed-2-column .LeftPane
{
  flex: 1;
}

.layout-fixed-2-column .ContentWrapper
{
	display: flex;
	flex-direction: column;
	flex: 5;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .layout-fixed-2-column .OuterWrapper
  {
    flex-direction: column;
  }

  .layout-fixed-2-column .ContentPane
  {
    overflow: unset;
  }
}