@Html.AddStyle("~/Shared/Layouts/layout-styles.css")
@Html.AddStyle("~!/fixed-3-column.css")
<div class="layout-fixed-3-column layout-styles fill-height LayoutWrapper">
  <div class="BannerPane">
    @await Html.PartialAsync("_banner.cshtml")
    @await Html.RenderPaneAsync("BannerPane")
  </div>
  <div class="flex-row scrollable OuterWrapper">
    <div class="flex-column LeftPane" suppress-empty="true">
      @await Html.RenderPaneAsync("LeftPane")
    </div>
    <div class="flex-column scrollable ContentWrapper" data-track-scroll="content-area">
      <div class="HeroPane" suppress-empty="true">
        @await Html.RenderPaneAsync("HeroPane")
      </div>
      <div class="flex-column ContentPane" suppress-empty="true">
        @await Html.RenderPaneAsync("ContentPane")
      </div>
    </div>
    <div class="flex-column RightPane" suppress-empty="true">
      @await Html.RenderPaneAsync("RightPane")
    </div>
  </div>
  <div class="default-footer FooterPane">
    <terms caption="Terms" />
    <privacy caption="Privacy Policy" />
    @await Html.RenderPaneAsync("FooterPane")
  </div>
</div>