.layout-fixed-3-column.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.layout-fixed-3-column .BannerPane .banner-row
{
  display: flex;
}

.layout-fixed-3-column .LeftPane
{
  flex: 1;
}

.layout-fixed-3-column .ContentWrapper 
{
	flex-grow: 1;
	display: flex;		
	overflow: auto;
	flex-direction: row;
}

.layout-fixed-3-column .ContentPane
{
	display: flex;
	flex-direction: column;
	flex: 4;
	overflow: auto;
}

.layout-fixed-3-column .ContentPane > div
{
	display: flex;
	flex-direction: column;
}

.layout-fixed-3-column .RightPane
{
  flex: 1;
}

.layout-fixed-3-column .FooterPane
{
	display: flex;
	flex-direction: row;
  gap: 1rem;
  background-color: #535353;
}

/*  Responsive UI  */
@media screen and (max-width: 980px)
{
  .layout-fixed-3-column .BannerPane .banner-row
  {
    display: unset;
  }
  
  .layout-fixed-3-column .BannerPane .nucleus-account-control > div
  {
    margin-left: auto;
  }
  
  .layout-fixed-3-column .ContentWrapper
  {
    flex-direction: column;
  }

  .layout-fixed-3-column .ContentPane
  {
    overflow: unset;
  }
}