.LayoutWrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ContentWrapper 
{
	flex-grow: 1;
	display: flex;		
	overflow: auto;
	flex-direction: row;
}

.ContentPane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.ContentPane > div
{
	display: flex;
	flex-direction: column;
}
