.search-result
{
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: dotted 1px #aaa;
}

.search-suggestions
{
	position: fixed;
	display: inline-block;
	margin-top: 0.25rem;
	z-index: 5;
	background-color: white;
}

.search-display-compact .search-suggestions, .search-display-minimal .search-suggestions
{
	margin-top: 2rem;	
}

.suggestions-result 
{
	border: 1px solid #ddd;	
	margin: 0;
	padding: 0.25rem;
	box-shadow: 2px 2px 6px #bbb;
}

.suggestions-result li
{
	padding: 0.25rem;
	list-style-type: none;
	margin: 0;
	cursor: default;
	min-width: 25em;
	text-overflow: ellipsis;
}

.suggestions-result li:hover
{
	background-color: #ddd;
}