OL.Sitemap
{
	padding-left: 0;
}

OL.Sitemap, OL.Sitemap OL
{
	margin-bottom: var(--nucleus-default-gap-vertical);
}

OL.Sitemap OL
{
	padding-left: var(--nucleus-default-gap-horizontal);
}

OL.Sitemap LI
{
	list-style-type: none;
}

OL.Sitemap.sitemap-horizontal
{
  display: flex;
  row-gap: var(--nucleus-default-gap-vertical);
  column-gap: var(--nucleus-default-gap-horizontal);
}