OL.Sitemap
{
	padding-left: 0;
}

OL.Sitemap, OL.Sitemap OL
{
	margin-bottom: 0.5rem;
}

OL.Sitemap OL
{
	padding-left: 0.5rem;
}

OL.Sitemap LI
{
	list-style-type: none;
}

OL.Sitemap.sitemap-horizontal
{
  display: flex;
  gap: 1rem;
}