#site-wizard .modal-body
{
	background-image: url('../../../../Resources/Images/nucleus.png');
	background-repeat: no-repeat;
	background-position: right 1rem top 1rem;
	
}

#site-wizard .tab-content
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
	margin-bottom: 1rem;
}

#site-wizard .installable-package
{
	margin-bottom: 0.75rem;
}

#site-wizard .installable-package label *
{
	display: inline-block;
	vertical-align: middle;
}

#site-wizard .nucleus-button-panel
{
	display: flex;
	gap: 4px;
}

#site-wizard .installable-package .placeholder-checkbox
{
	color: #cbc7c7;
}

#site-wizard .tab-content .tab-pane.active
{
	align-self: stretch;
}

#site-wizard input[type=checkbox], #site-wizard .installable-package .placeholder-checkbox
{
	transform: scale(1.2);
	vertical-align: middle;
}