@model Nucleus.Web.ViewModels.Admin.FileSystem
@using Nucleus.Abstractions.Models
@using (Html.BeginAreaForm("SaveFolderSettings", "FileSystem", "Admin", FormMethod.Post, new { @data_target = "form.parent()" }))
{	
	<h2 class="nucleus-modal-caption">Folder Settings</h2>
	<Tab>
		<TabItem active="true" target="#folder-settings" caption="Settings"></TabItem>
		<TabItem target="#folder-permissions" caption="Permissions"></TabItem>
	</Tab>

	<TabContent>
		<TabPanel id="folder-settings" active="true">
			<fieldset role="group" aria-labelledby="heading">
				<h2>Settings</h2>
				<SettingsControl caption="Include in Search?" rendermode="LabelLast" class="inner-inline" helptext="Specifies whether the files within this folder are included in the search index, if search is enabled for your site.">
					@Html.CheckBoxFor(model => model.Folder.IncludeInSearch, new { @class = "ToggleSwitch" })
				</SettingsControl>
			</fieldset>
		</TabPanel>

		<TabPanel id="folder-permissions">
			<fieldset role="group" aria-labelledby="heading" class="flex-grow-1">
				<h2>Permissions</h2>
				@await Html.PartialAsync("_FolderPermissions", Model)
			</fieldset>
		</TabPanel>
	</TabContent>

	<div class="nucleus-button-panel">
		<input type="submit" class="btn btn-primary" value="Save Changes" data-target=".nucleus-adminpage" />
	</div>
}
<script>
	jQuery(document).ready(function ()
	{
		jQuery(Page).on('ready', function (page, target, data, url, event, status, request)
		{
			jQuery('.folder-permissions-copy-dropdown')
				.siblings('.nucleus-progress-spinner')
				.remove();
		});

		jQuery('.folder-permissions-copy-dropdown + .dropdown-menu button').on('confirmed', function ()
		{
			var permissionsControl = jQuery('.folder-permissions-copy-dropdown');

			if (permissionsControl.siblings('.nucleus-progress-spinner').length === 0)
			{
				var progress = jQuery('<div class="spinner-border spinner-border-sm text-primary nucleus-progress-spinner ms-2" role="status"/>');
				progress.insertAfter(permissionsControl);
			}
		});

		jQuery('.permissions-table input[type=checkbox]').on('change', function ()
		{
			jQuery('.folder-permissions-copy-dropdown')
        .addClass('disabled')
        .prop('disabled', true);
		});
	});
</script>