@model Nucleus.OAuth.Server.ViewModels.Settings
@using (Html.BeginAreaForm("List", "OAuthServerAdmin", "OAuthServer", FormMethod.Post, new { @data_target = ".nucleus-index-items", @autocomplete = "off" }))
{
	@await Component.InvokeAsync(typeof(Nucleus.ViewFeatures.Controls.PagingControl), new { model = @Model.ClientApps, propertyName = "ClientApps", renderMode = Nucleus.ViewFeatures.ViewModels.PagingControl.RenderModes.Compact })
}
<ul>
	@foreach (var item in Model.ClientApps.Items)
	{
		<li><a href="@Url.NucleusAction("Editor", "OAuthServerAdmin", "OAuthServer")?id=@item.Id" data-target=".ClientAppEditor">@item.Title</a></li>
	}
</ul>