@model Nucleus.OAuth.Server.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../controlpanel.css")
<h1 class="nucleus-control-panel-heading">Client Apps</h1>
<div class="nucleus-form-tools">
	@Html.SubmitButton("&#xe147", "Add Client App", @Url.NucleusAction("Create", "OAuthServerAdmin", "OAuthServer"), new { @data_target = ".ClientAppEditor", @accesskey="N"})
</div>

<div class="nucleus-index-wrapper">
	<div class="nucleus-index-items">
		@await Html.PartialAsync("_ClientAppsList", Model)				
	</div>

	<div class="ListEditor nucleus-editor-panel"></div>
</div>

<div class="ClientAppEditor"></div>

