<h1>Settings</h1>

<ul class="ControlPanel">
	<li class="SysAdminsIcon" data-target=".AdminPage">
		<a href="@Url.Content("~/Admin/SystemAdministrators/Index")"></a>
		<span>&#xef3d;</span>
		<h3>System Administrators</h3>
		Create and manage System Administrator users.  System Administrator users can manage all features of all sites.
	</li>

	<li class="SiteGroupsIcon" data-target=".AdminPage">
		<a href="@Url.Content("~/Admin/SiteGroups/Index")"></a>
		<span>&#xe051;</span>
		<h3>Site Groups</h3>
		Create and manage sites groups.  Sites can be added to a site group to share users, roles and other data. 
	</li>

	<li class="SitesIcon" data-target=".AdminPage">
		<a href="@Url.Content("~/Admin/Sites/Index")"></a>
		<span>&#xe051;</span>
		<h3>Sites</h3>
		Create and manage sites (Tenants).
	</li>

	<li class="ScheduledTasksIcon" data-target=".AdminPage">
		<a href="@Url.Content("~/Admin/ScheduledTasks/Index")"></a>
		<span>&#xe8b5;</span>
		<h3>Scheduler</h3>
		Create and manage scheduled tasks.
	</li>
</ul>

